body {
    text-align: left;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1em;
    margin: 0;
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#wrapper {
    width: 980px;
    margin: 30px auto;
    position: relative;
}
#logo {
    display: block;
}
#blog #logo {
    height: 150px;
}
a {
    text-decoration: none;
    color: #157;
}
em {
    font-weight: bold;
    font-style: normal;
}

.grouping {
    padding: 0 0 1em 0;
    margin-bottom: 3em;
}
#blog .grouping {
    padding: 0 0 1em 0;
    margin-bottom: 3em;
}
.primary {
    float: left;
    width: 540px;
    margin-left: 10px;
}
#blog .primary {
    margin-top: 100px;
    width: 650px;
}
.primary h2 {
    font-size: 2em;
    line-height: 1em;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
#blog .primary h2 {
    margin-top: 50px;
}
#blog a.post-link {
    color: #000;
}
#blog a.post-link:hover {
    color: #666;
}
.primary p {
    font-size: 1.25em;
    line-height: 1.5em;
    margin: 1em 0 0 0;
    padding: 0;
}
#blog .primary p {
    font-size: 1em;
    line-height: 1.5em;
    margin: 1em 0 0 0;
    padding: 0;
}
#blog .primary li {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0.5em;
}

#blog .primary .teaser {
    font-size: 1.1em;
    margin: 30px 0;
}
#blog .primary .teaser p {
}
#blog .primary p.more {
    margin: 0 2em;
    padding: 0;
    text-align: right;
}
.secondary {
    float: left;
    width: 380px;
    margin-left: 40px;
}
#blog .secondary {
    width: 280px;
}
.secondary h2 {
    font-size: 1.5em;
    line-height: 1em;
    margin: .375em 0 0 0;
    padding: 0;
    font-weight: normal;
}
.secondary p {
    font-size: .875em;
    line-height: 24px;
    margin: 24px 0 0 0;
}
.secondary a {
}
.secondary a:hover {
}
p.feed {
    margin: 10px 0 30px;
    line-height: 1.3em;
}
p.feed img {
    float: left;
    padding: 3px 10px 0 0;
}

.announcement {
    margin: 10px 10px 40px;
    padding: 0.5em 1em;
    color: #CCC;
    font-size: 14pt;
    background: #333;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

.announcement a {
    color: #CCC;
}
.announcement a:hover {
    color: #FFF;
}

pre {
    font-family      : "Monaco", "Lucida Console", "Andale Mono", monospace;
    font-size        : 10pt;
    padding          : 5px 0;
    color            : #FFF;
    background-color : #000;
    overflow         : auto;
}

#blog .post_footer h2 {
    font-size: 14pt;
    line-height: 18pt;
    margin: 1em 0 0;
}

#blog .post_footer p {
    margin: 0;
    font-size: 10pt;
    line-height: 14pt;
}

p.post_dateline .date {
    font-size: 14pt;
}

.post_footer p.post_dateline .date {
    font-size: 12pt;
}

p.post_dateline .author {
}

p.post_dateline a {
}

p.post_dateline a:hover {
}

.content a {
    color: #000;
    text-decoration: underline;
}

.content a:hover {
    text-decoration: underline;
}
#posts a {
    display: none;
}
