.syntax .hll { background-color: #333333 }
.syntax  { color: #ffffff }
.syntax .c { color: #008800; font-style: italic; background-color: #0f140f } /* Comment */
.syntax .err { color: #ffffff } /* Error */
.syntax .g { color: #ffffff } /* Generic */
.syntax .k { color: #a44; font-weight: bold } /* Keyword */
.syntax .l { color: #ffffff } /* Literal */
.syntax .n { color: #ffffff } /* Name */
.syntax .o { color: #ffffff } /* Operator */
.syntax .x { color: #ffffff } /* Other */
.syntax .p { color: #ffffff } /* Punctuation */
.syntax .cm { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Multiline */
.syntax .cp { color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f } /* Comment.Preproc */
.syntax .c1 { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Single */
.syntax .cs { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Special */
.syntax .gd { color: #ffffff } /* Generic.Deleted */
.syntax .ge { color: #ffffff } /* Generic.Emph */
.syntax .gr { color: #ffffff } /* Generic.Error */
.syntax .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.syntax .gi { color: #ffffff } /* Generic.Inserted */
.syntax .go { color: #444444; background-color: #222222 } /* Generic.Output */
.syntax .gp { color: #ffffff } /* Generic.Prompt */
.syntax .gs { color: #ffffff } /* Generic.Strong */
.syntax .gu { color: #ffffff; font-weight: bold } /* Generic.Subheading */
.syntax .gt { color: #ffffff } /* Generic.Traceback */
.syntax .kc { color: #a44; font-weight: bold } /* Keyword.Constant */
.syntax .kd { color: #a44; font-weight: bold } /* Keyword.Declaration */
.syntax .kn { color: #a44; font-weight: bold } /* Keyword.Namespace */
.syntax .kp { color: #a44 } /* Keyword.Pseudo */
.syntax .kr { color: #a44; font-weight: bold } /* Keyword.Reserved */
.syntax .kt { color: #cdcaa9; font-weight: bold } /* Keyword.Type */
.syntax .ld { color: #ffffff } /* Literal.Date */
.syntax .m { color: #0086f7; font-weight: bold } /* Literal.Number */
.syntax .s { color: #4a4 } /* Literal.String */
.syntax .na { color: #ff0086; font-weight: bold } /* Name.Attribute */
.syntax .nb { color: #ffffff } /* Name.Builtin */
.syntax .nc { color: #ffffff } /* Name.Class */
.syntax .no { color: #0086d2 } /* Name.Constant */
.syntax .nd { color: #ffffff } /* Name.Decorator */
.syntax .ni { color: #ffffff } /* Name.Entity */
.syntax .ne { color: #ffffff } /* Name.Exception */
.syntax .nf { color: #ff0086; font-weight: bold } /* Name.Function */
.syntax .nl { color: #ffffff } /* Name.Label */
.syntax .nn { color: #ffffff } /* Name.Namespace */
.syntax .nx { color: #ffffff } /* Name.Other */
.syntax .py { color: #ffffff } /* Name.Property */
.syntax .nt { color: #a44; font-weight: bold } /* Name.Tag */
.syntax .nv { color: #a44 } /* Name.Variable */
.syntax .ow { color: #ffffff } /* Operator.Word */
.syntax .w { color: #888888 } /* Text.Whitespace */
.syntax .mf { color: #0086f7; font-weight: bold } /* Literal.Number.Float */
.syntax .mh { color: #0086f7; font-weight: bold } /* Literal.Number.Hex */
.syntax .mi { color: #0086f7; font-weight: bold } /* Literal.Number.Integer */
.syntax .mo { color: #0086f7; font-weight: bold } /* Literal.Number.Oct */
.syntax .sb { color: #0086d2 } /* Literal.String.Backtick */
.syntax .sc { color: #0086d2 } /* Literal.String.Char */
.syntax .sd { color: #0086d2 } /* Literal.String.Doc */
.syntax .s2 { color: #0086d2 } /* Literal.String.Double */
.syntax .se { color: #0086d2 } /* Literal.String.Escape */
.syntax .sh { color: #0086d2 } /* Literal.String.Heredoc */
.syntax .si { color: #0086d2 } /* Literal.String.Interpol */
.syntax .sx { color: #0086d2 } /* Literal.String.Other */
.syntax .sr { color: #0086d2 } /* Literal.String.Regex */
.syntax .s1 { color: #0086d2 } /* Literal.String.Single */
.syntax .ss { color: #0086d2 } /* Literal.String.Symbol */
.syntax .bp { color: #ffffff } /* Name.Builtin.Pseudo */
.syntax .vc { color: #a44 } /* Name.Variable.Class */
.syntax .vg { color: #a44 } /* Name.Variable.Global */
.syntax .vi { color: #a44 } /* Name.Variable.Instance */
.syntax .il { color: #0086f7; font-weight: bold } /* Literal.Number.Integer.Long */