{% extends "schedule/base.html" %}
{% load scheduletags %}
{% block body %}
<p align="center"><b>{{ calendar.name }}</b></p>
<p><table align="center">
	<caption><a href="{% url year_calendar_date calendar.slug prev_year %}"><img align="top" border="0" src="{{ MEDIA_URL }}left_mod.png"></a> &nbsp; <b>{{ months.1.year }}</b> &nbsp; <a href="{% url year_calendar_date calendar.slug next_year %}"><img align="top" border="0" src="{{ MEDIA_URL }}right_mod.png"></a></caption>
	<tr>
		<td valign="top">{% month_table calendar months.1 "small" %}</td>
		<td width="12">&nbsp;</td>
		<td valign="top">{% month_table calendar months.2 "small" %}</td>
		<td width="12">&nbsp;</td>
		<td valign="top">{% month_table calendar months.3 "small" %}</td>
	</tr>
	<tr>
		<td valign="top">{% month_table calendar months.4 "small" %}</td>
		<td width="12">&nbsp;</td>
		<td valign="top">{% month_table calendar months.5 "small" %}</td>
		<td width="12">&nbsp;</td>
		<td valign="top">{% month_table calendar months.6 "small" %}</td>
	</tr>
	<tr>
		<td valign="top">{% month_table calendar months.7 "small" %}</td>
		<td width="12">&nbsp;</td>
		<td valign="top">{% month_table calendar months.8 "small" %}</td>
		<td width="12">&nbsp;</td>
		<td valign="top">{% month_table calendar months.9 "small" %}</td>
	</tr>
	<tr>
		<td valign="top">{% month_table calendar months.10 "small" %}</td>
		<td width="12">&nbsp;</td>
		<td valign="top">{% month_table calendar months.11 "small" %}</td>
		<td width="12">&nbsp;</td>
		<td valign="top">{% month_table calendar months.12 "small" %}</td>
	</tr>
</table></p>
<p align="center">
<a href="{% url m_calendar calendar.slug %}">Current Month Calendar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url year_calendar calendar.slug %}">Current Year Calendar</a>
</p>
{% endblock %}
