{% extends "newprojects/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load pagination_tags %}

{% block head_title %}{% blocktrans with group.name as group_name %}Topics for Project {{ group_name }}{% endblocktrans %}{% endblock %}

{% block body %}
    <h1>{% trans "Discussion Topics for Project" %} <a href="{{ group.get_absolute_url }}">{{ group.name }}</a></h1>
    
    {% autopaginate topics %}
    
    {% for topic in topics %}
        {% include "topics/topic_item.html" %}
    {% endfor %}
    
    {% paginate %}
    
    {% if is_member %}
        <h2>{% trans "New Topic" %}</h2>
        
        <form class="uniForm" method="POST" action="">
            <fieldset class="inlineLabels">
                {{ topic_form|as_uni_form }}
                <div class="form_block">
                    <input type="hidden" name="next" value="{{ request.path }}" />
                    <input type="submit" value="{% trans "Create New Topic" %}" /></td>
                </div>
            </fieldset>
        </form>
    {% endif %}
    
{% endblock %}
