{% load i18n %}
{% load wikiurls %}

<h2>{% trans "Wiki Articles" %}</h2>

{% if owner.article_set.all %}
    <table class="bookmarks">
        {% for article in owner.article_set.all %}
        <tr class="{% cycle odd,even %}">
            <td class="meta">
                {{ article.created_at|date }}
            </td>
            <td>
                <h2><a href="{% wikiurl article article.group article %}">{{ article.title }}</a></h2>
                <div class="body">{{ article.content|truncatewords:25 }}</div>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>{% trans "No wiki articles yet." %}</p>
{% endif %}
