{% extends "newtribes/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load newtribes_tags %}

{% block head_title %}{% blocktrans %}Tribes{% endblocktrans %}{% endblock %}

{% block body %}
    <h1>{% trans "Tribes" %}</h1>
    
    <p>{% trans "A <b>tribe</b> is a group of people with some common interest." %}</p>
    {% if user.is_authenticated %}
        <div class="form-toggle">
            <p><span id="start-tribe-toggle">{% trans "Start your own tribe" %}</a></p>
            <form class="uniForm" id="start-tribe" method="POST" action="{% url tribe_create %}">
                <fieldset class="inlineLabels">
                    {% get_tribe_form as tribe_form %}
                    {{ tribe_form|as_uni_form }}
                    <div class="form_block">
                        <input type="hidden" name="action" value="create" />
                        <input type="submit" value="{% trans "create" %}"/>
                    </div>
                </fieldset>
            </form>
        </div>
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to create your own tribe or join an existing one.{% endblocktrans %}</p>
    {% endif %}
    
    <form method="GET" action="">
        <input type="text" name="search" value="{{ search_terms }}" />
        <input type="submit" value="Search" />
        {% if search_terms %}
            <a href="{% clear_search_url request %}">Clear Search Terms</a>
        {% endif %}
    </form>
    {% autopaginate tribes 10 %}
    {% if tribes %}
        <dl>
        {% for tribe in tribes %}
            {{ tribe }}
            {% comment %}{% show_tribe tribe %}{% endcomment %}
        {% endfor %}
        </dl>
        {% paginate %}
    {% endif %}
    
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#start-tribe').hide();
            $('#start-tribe-toggle').click(function() {
                $('#start-tribe').toggle();
                $('#start-tribe').autoscroll();
                return false;
            });
            if ($('#start-tribe .error').length) {
                $('#start-tribe').show();
                $('#start-tribe .error').autoscroll();
            }
        });
    </script>
{% endblock %}
