{% extends "tasks/base.html" %}

{% load i18n %}

{% block head_title %}Add Task{% endblock %}

{% block body %}
    <h1>Add Task</h1>
    
    {% if is_member %}
        <form action="" method="POST">
            <table>
                {{ task_form }}
                <tr><td></td><td><input type="submit" value="{% trans 'add task' %}"/></td></tr>
            </table>
        </form>
    {% else %}
        <p>{% trans 'You are not a member and so cannot add a task.' %}</p>
    {% endif %}
    
{% endblock %}
