{% extends "swaps/base.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}{% blocktrans %}Propose a Swap{% endblocktrans %}{% endblock %}

{% block body %}
    <h1>{% trans "Propose a Swap" %}</h1>
    
    <div>
        <h3>For: {{ offer.short_description }}</h3>
        <p>Offer: {{ offer.offering }}</p>
        <p>Want: {{ offer.want|urlize }}</p>
        <p>Offered by: {{ offer.offerer }}</p>
    </div>
    
    <div>
        <h3>Swap for one of your existing offers: {{ swap_form.proposing_offer }}</h3>
    </div>
    
    <div>
        <h3>Or make a new offer:</h3>
        
        <form class="uniForm" id="proposal_form" method="POST" action="">
            <fieldset class="inlineLabels">
                {{ offer_form|as_uni_form }}
                <div class="form_block">
                    <input type="submit" value="{% trans 'propose' %}"/>
                </div>
            </fieldset>
        </form>
    </div>
    
{% endblock %}
