{% load i18n %}
{% load extra_tagging_tags %}
{% load tasks_tags %}
{% load avatar_tags %}
{% load shorttimesince_tag %}
{% load threadedcommentstags %}
{% load markup %}
{# The following tags are loaded from the wiki app until there is a separate markup solution. #}
{% load wiki %}
{% load switchcase %}
{% load restructuredtext %}
{% load creole %}

<div class="task clearfix">
    <div class="task-meta">

        {% if task.assignee %}
            <div class="avatar">{% avatar task.assignee 40 %}</div>
            <div class="details"><b>{% trans "Assignee" %}</b>: <a href="{% url tasks_for_user task.assignee %}">{{ task.assignee }}</a></div>
        {% else %}
            <span class="warning">{% trans "Unassigned" %}</span>
        {% endif %}        
        <div><b>{% trans "State" %}</b>: {{ task.get_state_display }}</div>
        <div><b>{% trans "Creator" %}</b>: <a href="{% url tasks_for_user task.creator %}">{{ task.creator }}</a></div>
        <div><b>{% trans "Created" %}</b>: {{ task.created|date }}</div>
        <div><b>{% trans "Modified" %}</b>: {{ task.modified|shorttimesince }} ago</div>
        <div><a href="{% url tasks_history task.id %}">{% trans "History of this Task" %}</a></div>                        
        <div><b>Nudges</b>: {{ nudge.count }}
            {% if nudge.history %}
                <a href="#" id="nudge-history">nudge list</a>
            {% endif %}
        </div>
        {% if nudge.history %}        
            <div id="nudge-history-target">
                <ol>
                {% for item in nudge.history %}
                     <li><a href="{% url tasks_for_user item.nudger %}">{{ item.nudger }}</a>
                    {{ item.modified|shorttimesince }}</li>
                {% endfor %}
                </ol>
            </div>
        {% endif %}
        <div>
            {% if nudge.nudgeable %}
                {% if nudge.nudge %}
                    You have nudged this task.<br />
                    <a href="{% url tasks_nudge task.id %}">Denudge task</a>
                {% else %}
                    <a href="{% url tasks_nudge task.id %}">nudge task</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="bulk">
        <h2 class="task_{{ task.get_state_display }}">#{{ task.id }}: <a href="{{ task.get_absolute_url }}">{{ task.summary }}</a></h2>
        <div class="body">
            {% switch task.markup %}
                {% case 'crl' %} {{ task.detail|creole|safe }} {% endcase %}
                {% case 'rst' %} {{ task.detail|restructuredtext|safe }} {% endcase %}
                {% case 'mrk' %} {{ task.detail|force_escape|markdown }} {% endcase %}
                {% case 'txl' %} {{ task.detail|force_escape|textile }} {% endcase %}
                {% case '' %} {{ task.detail|urlize|linebreaks|safe }} {% endcase %}
            {% endswitch %}
        </div>
        <div class="task-meta2">
            {% get_comment_count for task as comment_count %}
            {% if comment_count %}
                {{ comment_count }} comment{{ comment_count|pluralize }};
            {% endif %}
            <b>{% trans "Status" %}</b>: 
            {% if task.status %}
                {{ task.status }}
            {% else %}
                {% trans "none" %}
            {% endif %}
        </div>
        <p><img src="{{ MEDIA_URL }}pinax/images/silk/icons/tag_blue.png" border="0" class="noborder" align="absmiddle" /> {% task_tags task %}</p>
    </div>
</div>
