{% extends "projects/base.html" %}

{% load i18n %}
{% load humanize %}
{% load pagination_tags %}
{% load project_tags %}

{% block head_title %}{% blocktrans %}Projects{% endblocktrans %}{% endblock %}

{% block body %}
    <p><span class="warning">Note</span>: this is an <b>experimental</b> feature that is subject to massive change at any time.</p>
    
    
    <h1>{% trans "Projects" %}</h1>
    
    <p>A <b>project</b> is a place to manage a group of people working on a common set of tasks. It is similar to a tribe in providing a wiki and threaded discussion but is invitation only and adds issue tracking.</p>
    
    {% if user.is_authenticated %}
        <p><a href="#" onclick="$('#project_form').toggle(); return false;">{% trans "Start your own project" %}</a></p>
        
        <form id="project_form" method="POST" action="" style="display: none;">
            <table>
                {{ project_form }}
                <tr><td></td><td><input type="hidden" name="action" value="create" /><input type="submit" value="{% trans 'create' %}"/></td></tr>
            </table>
        </form>
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to create your own project or join an existing one.{% endblocktrans %}</p>
    {% endif %}
    
    {% autopaginate projects %}
    
    {% regroup projects by created.date as projects_by_created %}
    
    {% for date in projects_by_created %}
        <h2 class="creation_date">{{ date.grouper|naturalday:_("MONTH_DAY_FORMAT")|capfirst }}</h2>
        <dl>
            {% for project in date.list %}
                {% show_project project %}
            {% endfor %}
        </dl>
    {% endfor %}
    
    {% paginate %}
    
{% endblock %}

{% block extra_body %}
    <script>
        {% if project_form.errors %}
            $('#project_form').show();
        {% endif %}
    </script>
{% endblock %}