{% extends "projects/base.html" %}

{% load i18n %}
{% load gravatar %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load order_by %}
{% load humanize %}
{% load shorttimesince_tag %}
{% load tagging_tags %}

{% block head_title %}Tasks for {{ project.name }}{% endblock %}

{% block body %}
    <h1>{% trans "Tasks for Project" %} <a href="{% url project_detail project.slug %}">{{ project.name }}</a></h1>
    
    <p>Group by:
        {% ifequal group_by "state" %}
            <a href="?group_by=modified">last modified</a>
            or
            <b>state</b>
            or
            <a href="?group_by=assignee">assignee</a>
            
            {% order tasks by state %}
            {% autopaginate tasks 10 %}
            {% regroup tasks by get_state_display as grouped_tasks %}
        {% else %}
            {% ifequal group_by "assignee" %}
                <a href="?group_by=modified">last modified</a>
                or
                <a href="?group_by=state">state</a>
                or
                <b>assignee</b>
                
                {% order tasks by assignee %}
                {% autopaginate tasks 10 %}
                {% regroup tasks by assignee as grouped_tasks %}
            {% else %}
                <b>last modified</b>
                or
                <a href="?group_by=state">state</a>
                or
                <a href="?group_by=assignee">assignee</a>
                
                {% order tasks by -modified %}
                {% autopaginate tasks 10 %}
                {% regroup tasks by modified.date as grouped_tasks %}
            {% endifequal %}
        {% endifequal %}
    </p>
    
    {% for section in grouped_tasks %}
        {% ifequal group_by "state" %}
            <h2 class="join_date">{{ section.grouper }}</h2>
        {% else %}
            {% ifequal group_by "assignee" %}
                <h2 class="join_date">{{ section.grouper }}</h2>
            {% else %}
                <h2 class="join_date">{{ section.grouper|naturalday:_("MONTH_DAY_FORMAT")|capfirst }}</h2>
            {% endifequal %}
        {% endifequal %}
        
        {% for task in section.list %}
            
            <div class="task clearfix">
                <div class="task-meta">
                    {% if task.assignee %}
                        <div class="avatar">{% gravatar task.assignee 40 %}</div>
                        <div class="details"><b>Assignee</b>: <a href="{% url profiles.views.profile task.assignee.username %}">{{ task.assignee }}</a></div>
                    {% else %}
                        <span class="warning">Unassigned</span>
                    {% endif %}
                    <div><b>State</b>: {{ task.get_state_display }}</div>
                    <div><b>Creator</b>: <a href="{% url profiles.views.profile task.creator.username %}">{{ task.creator }}</a></div>
                    <div><b>Created</b>: {{ task.created|date }}</div>
                    <div><b>Modified</b>: {{ task.modified|shorttimesince }} ago</div>
                </div>
                <div class="bulk">
                    <h2><a href="{% url project_task task.id %}">{{ task.summary }}</a></h2>
                    <div class="body">{{ task.detail|urlize|linebreaks }}</div>
                    <div class="task-meta2">
                        {% get_comment_count for task as comment_count %}
                        {% if comment_count %}
                            {{ comment_count }} comment{{ comment_count|pluralize }};
                        {% endif %}
                        <b>Status</b>: 
                        {% if task.status %}
                            {{ task.status }}
                        {% else %}
                            none
                        {% endif %}
                    </div>
                    <p>
                        <img src="/site_media/tags.png" border="0" class="noborder" align="absmiddle" />
                        {% tags_for_object task as tags %}
                        {% for tag in tags %}
                            <a href="/tags/{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </p>
                </div>
            </div>
            
        {% endfor %}
    {% endfor %}
    
    {% paginate %}
    
    {% if is_member %}
        <h2>New Task</h2>
        
        <form action="{% url project_tasks project.slug %}" method="POST">
            <table>
                {{ task_form }}
                <tr><td></td><td><input type="hidden" name="action" value="add_task" /><input type="submit" value="{% trans 'add task' %}"/></td></tr>
            </table>
        </form>
    {% endif %}
    
{% endblock %}
