{% extends "projects/base.html" %}

{% load i18n %}
{% load gravatar %}
{% load threadedcommentstags %}
{% load shorttimesince_tag %}
{% load extra_tagging_tags %}

{% block head_title %}Tasks for {{ other_user }}{% endblock %}

{% block body %}
    <h1>{% blocktrans %}Tasks for {{ other_user }}{% endblocktrans %}</h1>
    
    {% ifequal request.user other_user %}
        
        {% if tasks %}
        {% regroup tasks by get_state_display as tasks_by_state %}
        {% for state in tasks_by_state %}
            <h2 class="join_date">{{ state.grouper }}</h2>
            
            {% for task in state.list %}
                <div class="task clearfix">
                    <div class="task-meta">
                        {% if task.assignee %}
                            <div class="avatar">{% gravatar task.assignee 40 %}</div>
                            <div class="details"><b>Assignee</b>: <a href="{% url profiles.views.profile task.assignee.username %}">{{ task.assignee }}</a></div>
                        {% else %}
                            <span class="warning">Unassigned</span>
                        {% endif %}
                        <div><b>State</b>: {{ task.get_state_display }}</div>
                        <div><b>Creator</b>: <a href="{% url profiles.views.profile task.creator.username %}">{{ task.creator }}</a></div>
                        <div><b>Created</b>: {{ task.created|date }}</div>
                        <div><b>Modified</b>: {{ task.modified|shorttimesince }} ago</div>
                    </div>
                    <div class="bulk">
                        <h2><a href="{% url project_task task.id %}">{{ task.summary }}</a>
                            (<a href="{% url projects.views.project task.project.slug %}">{{ task.project }}</a>)</h2>
                        <div class="body">{{ task.detail|urlize|linebreaks }}</div>
                        <div class="task-meta2">
                            {% get_comment_count for task as comment_count %}
                            {% if comment_count %}
                                {{ comment_count }} comment{{ comment_count|pluralize }};
                            {% endif %}
                            <b>Status</b>: 
                            {% if task.status %}
                                {{ task.status }}
                            {% else %}
                                none
                            {% endif %}
                            <p>{% show_tags_for task %}</p>
                        </div>
                    </div>
                </div>
                    
            {% endfor %}
        {% endfor %}
        {% else %}
        {% trans "You have no tasks right now." %}
        {% endif %}
        
    {% else %}
        <p>You are not allowed to view another person's tasks at this time.</p>
    {% endifequal %}
{% endblock %}