{% extends "projects/base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load tagging_tags %}

{% block head_title %}{% trans "Your Projects" %}{% endblock %}

{% block body %}
    <p><span class="warning">{% trans "Note" %}</span>: {% blocktrans %}this is an <b>experimental</b> feature that is subject to massive change at any time.{% endblocktrans%}</p>
    
    <h1>{% trans "Your Projects" %}</h1>
    
    <p>{% trans "These are the projects you participate in." %}</p>
        
    {% autopaginate projects %}
    
    <dl>
        {% for project in projects %}
            <dt>{{ project.name }} (<a href="{% url projects.views.project project.slug %}">{{ project.slug }}</a>)</dt>
            <dd>
                {{ project.description }}
                <br />
                <img src="/site_media/tags.png" border="0" class="noborder" align="absmiddle" />
                {% tags_for_object project as tags %}
                {% for tag in tags %}
                    <a href="/tags/{{ tag }}">{{ tag }}</a>
                {% endfor %}
            </dd>
        {% endfor %}
    </dl>
    
    {% paginate %}
    
{% endblock %}
