{% load i18n ifsetting_tag account_tags openid_tags %}
{% if user.is_authenticated %}
    {% ifopenid %}<img src="{{ STATIC_URL }}images/openid-icon.png" alt="Logged in with OpenID" />{% endifopenid %}<b>{% user_display user %}</b>
    |
    <a href="{% url acct_email %}">Account</a>
    |
    {% if user.is_staff %}
        <a href="/admin/">Admin</a>
        |
    {% endif %}
    <a href="{% if request.openid %}/openid/logout/?next={% url acct_logout %}{% else %}{% url acct_logout %}{% endif %}">Logout</a>
{% else %}
    <a href="{% url acct_login %}">Log in</a> or <a href="{% url acct_signup %}">Sign Up</a>
{% endif %}