{% extends "tribes/base.html" %}

{% load i18n %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load tribe_tags %}

{% block head_title %}{% blocktrans %}Tribes{% endblocktrans %}{% endblock %}

{% block body %}
    <h1>{% trans "Tribes" %}</h1>
    
    <p>{% trans "A <b>tribe</b> is a group of people with some common interest." %}</p>
    {% if user.is_authenticated %}
        <p><a href="#" onclick="$('#tribe_form').toggle(); return false;">{% trans "Start your own tribe" %}</a></p>
        
        <form id="tribe_form" method="POST" action="{% url tribes_list %}" style="display: none;">
            {% get_tribe_form as tribe_form %}
            <table>
                {{ tribe_form }}
                <tr><td></td><td><input type="hidden" name="action" value="create" /><input type="submit" value="{% trans 'create' %}"/></td></tr>
            </table>
        </form>
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to create your own tribe or join an existing one.{% endblocktrans %}</p>
    {% endif %}
    {% if search_enabled %}
        <form method="GET" action="">
            <input type="text" name="search" value="{{ terms }}" />
            <input type="submit" value="Search" />
        </form>
    {% endif %}
    <p>Order by:
        {% for f in fields %}
            {% ifequal f field %}
                {% if descending %}
                    <a href="{{ f.full_url_asc }}">{{ f.verbose_name_asc }}</a> or 
                    <b>{{ f.verbose_name_desc }}</b>
                {% else %}
                    <b>{{ f.verbose_name_asc }}</b> or 
                    <a href="{{ f.full_url_desc }}">{{ f.verbose_name_desc }}</a>
                {% endif %}
            {% else %}
                <a href="{{ f.full_url_asc }}">{{ f.verbose_name_asc }}</a> or 
                <a href="{{ f.full_url_desc }}">{{ f.verbose_name_desc }}</a> 
            {% endifequal %}
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    
    {% autopaginate objects 10 %}
    {% if objects %}
        <dl>
        {% for tribe in objects %}
            {% show_tribe tribe %}
        {% endfor %}
        </dl>
        {% paginate %}
    {% endif %}
    
{% endblock %}

{% block extra_body %}
    <script>
        {% if tribe_form.errors %}
            $('#tribe_form').show();
        {% endif %}
    </script>
{% endblock %}