{% extends "wiki/base.html" %}

{% load i18n %}
{% load wiki %}
{% load extra_tagging_tags %}


{% block head_title %}Wiki{% endblock %}

{% block body %}

    {% if allow_write or article.id %}
    <div class="right_panel">
        <div class="tribes">
            <h2>{% trans "Actions" %}</h2>
            {% if article.id %}
            
            {% if allow_write %}<li><a href="{% url wiki_edit article.title %}">{% trans "Edit this article" %}</a> </li>
            {% endif %}
            <li><a href="{% url wiki_article_history article.title %}">{% trans "Editing history" %}</a> </li>
            
            {% else %}
            
            <li><a href="{% url wiki_edit article.title %}">{% trans "Create this article" %}</a></li>
            
            {% endif %}
        </div>
    </div>
    {% endif %}
    
    {# wiki_title group #}
    
    <h2><a href="{% url wiki_article article.title %}" rel="bookmark">{{ article.title }}</a></h2>
    
    {% if not article.id and allow_write %}
        <p>
            {% trans "This article does not exist." %}
            <a href="{% url wiki_edit article.title %}" {% trans ">Create it now</a>?" %}
        </p>
    {% endif %}
    
    {% render_content article %}
    
    {% show_tags_for article %}
    
    {% if article.id and can_observe %}
        {% if is_observing %}
            <form action="{% url wiki_stop_observing article.title %}" method="post">
                <input type="submit" value="{% trans "Stop Observing Article" %}">
            </form>
        {% else %}
            <form action="{% url wiki_observe article.title %}" method="post">
                <input type="submit" value="{% trans "Observe Article" %}">
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
