{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Announcements" %}{% endblock %}

{% block body %}
    <h1>{% trans "Announcements" %}</h1>
    
    {% if object_list %}
    <ul>
        {% for announcement in object_list %}
        <li>
            <a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a> -
            <a href="{% url announcement_hide announcement.pk %}?next={{ request.path }}">{% trans "Hide announcement" %}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>{% trans "There are no announcements for you." %}</strong>
    {% endif %}
{% endblock %}