/* GENERAL TAB STYLING */

#tabhead{
    background-color: #166EDB;
    background-image: url(../img/nav.png);
}

#tabhead a:link,
#tabhead a:visited{
    display: inline-block;
    color: White;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8em;
    padding: 1em 2em;
    background-color: #518FDB;
    line-height: 1em;
    border-left: 1px solid #669ADB;
    border-right: 1px solid #4981C6;
}

#tabhead a:hover,
#tabhead a:active{
    background-color: #205AA3;
    border-color: #153B6C;
    color: #C5DEFE;
}

/* account tabs (right side) */
#tabhead a.tab_account,
#tabhead a.tab_login,
#tabhead a.tab_logout{
    float: right;
    opacity: 0.5;
}

/* Subtabs */
#subnav{
    background-color: #166EDB;
    background-image: url(../img/nav.png);
}

#subnav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#subnav ul li{
    margin: 0;
    padding: 0;
    display: inline;
}

#subnav a:link,
#subnav a:visited{
    display: inline-block;
    color: White;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.7em;
    line-height: 1em;
    padding: 0.5em 1em;
    background-color: #1B5AA9;
}

#subnav a:hover{
    text-decoration: underline;
}


/* default pinax styles */
ul#messages {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
}
ul#messages li {
    padding: 5px 10px;
    background: #EFD;
    margin: 3px;
    border: 1px solid #BC9;
}
ul#messages li a {
    float: right;
    color: #693;
}