*.pyc
dev*.db
local_settings.py
Pinax.egg-info/*
*.egg
docs/.build
docs/_build
docs/external/ajax-validation
docs/external/announcements
docs/external/dbtemplates
docs/external/emailconfirmation
docs/external/flag
docs/external/mailer
docs/external/messages
docs/external/notification
docs/external/oembed
docs/external/pagination
docs/external/repos/
docs/external/robots
docs/external/threadedcomments
docs/external/timezones