include AUTHORS
include LICENSE
include README
include CHANGELOG

recursive-include docs *

recursive-include pinax/locale *.po *.mo

recursive-include pinax/apps/*/fixtures *
recursive-include pinax/apps/*/locale *.po *.mo
recursive-include pinax/apps/*/templates *
recursive-include pinax/apps/*/static *

recursive-include pinax/projects/*/fixtures *
recursive-include pinax/projects/*/locale *.po *.mo
recursive-include pinax/projects/*/static *
recursive-include pinax/projects/*/requirements *
recursive-include pinax/projects/*/templates *
recursive-include pinax/projects/*/apps/*/templates *
