{% extends "site_base.html" %}

{% load i18n %}
{% load generic_flatblocks %}
{% load attachments_tags %}

{% block head_title %}{% trans "Prices" %}{% endblock %}

{% block tab_id %}id="prices_tab"{% endblock %}

{% block body %}
    {% gblock "prices_content" for "gblocks.TitleAndText" %}
    
    <h2>You can download our price list as pdf:</h2>
    
    {% gblock "prices_content" for "gblocks.TitleAndText" into "content_obj" %}
    {% get_attachments_for content_obj as "attachment_list" %}
    
    {% if attachment_list %}
    <ul>
    {% for att in attachment_list %}
        <li><a href="{{ att.attachment_file.url }}">{{ att.filename }}</a> {% attachment_delete_link att %}</li>
    {% endfor %}
    </ul>
    {% endif %}
    
    {% attachment_form content_obj %}

{% endblock %}
