{% extends "microblogging/base.html" %}

{% load i18n %}
{% load avatar_tags %}

{% block head_title %}{% blocktrans %}{{ other_user }} is Following{% endblocktrans %}{% endblock %}

{% block body %}
    <h1>{% blocktrans %}{{ other_user }} is Following{% endblocktrans %}</h1>
    
    {% url profile_detail other_user.username as other_user_url %}
    <p>{% blocktrans %}Users whose tweets <a href="{{ other_user_url }}">{{ other_user }}</a> is following:{% endblocktrans %}</p>
    
    {% if follow_list %}
        {% for following_user in follow_list %}
            {# @@@ this is common code from all profiles list -- refactor #}
            <div class="profile clearfix">
                {# @@@ factor out style into css file #}
                <div style="float: left;">{% avatar following_user 40 %}</div>
                <div style="padding: 5px; margin-left: 50px;"><a href="{% url profile_detail following_user.username %}">{{ following_user }}</a></div>
            </div>
        {% endfor %}
    {% else %}
        <p>{% trans 'Not following anyone.' %}</p>
    {% endif %}
    
    {% url tweet_followers other_user.username as tweet_followers_url %}
    <p>{% blocktrans %}Also see <a href="{{ tweet_followers_url }}">who is following</a> {{ other_user }}.{% endblocktrans %}
{% endblock %}