{% extends "microblogging/base.html" %}

{% load i18n %}
{% load avatar_tags %}

{% block head_title %}{% blocktrans %}Followers of {{ other_user }}{% endblocktrans %}{% endblock %}

{% block body %}
    <h1>{% blocktrans %}Followers of {{ other_user }}{% endblocktrans %}</h1>
    
    {% url profile_detail other_user.username as other_user_url %}
    
    <p>{% blocktrans %}Followers of <a href="{{ other_user_url }}">{{ other_user }}</a>'s tweets:{% endblocktrans %}</p>
    
    {% if follow_list %}
        {% for following_user in follow_list %}
            {# @@@ this is common code from all profiles list -- refactor #}
            <div class="profile clearfix">
                {# @@@ factor out style into css file #}
                <div style="float: left;">{% avatar following_user 40 %}</div>
                <div style="padding: 5px; margin-left: 50px;"><a href="{% url profile_detail following_user.username %}">{{ following_user }}</a></div>
            </div>
        {% endfor %}
    {% else %}
        <p>{% trans 'No followers.' %}</p>
    {% endif %}
    
    {% url tweet_following other_user.username as tweet_following_url %}
    <p>{% blocktrans %}Also see <a href="{{ tweet_following_url }}">who {{ other_user }} is following</a>.{% endblocktrans %}
{% endblock %}