/* GENERAL TAB STYLING */

#tabhead .tabs {
    position: absolute;
    bottom: -1px; /* must be same thickness as tab border */
    left: 210px; /* based on width and padding of logo */
}
#tabhead .tabs td {
    vertical-align: bottom;
    padding-right: 0; /* space between tabs */
    padding-bottom: 1px; /* must be same thickness as tab border */
}
#tabhead .tab a, #tabhead .tab a:visited {
    color: #444; /* unselected tab text colour */
    font-weight: bold;
    text-decoration: none;
}
#tabhead .tab a:hover {
    color: #666; /* unselected tab text hover colour */
}
#tabhead .tab div {
    background-color: #DDD; /* unselected tab colour */
    padding: 0;
    padding-bottom: 4px;
    padding-top: 5px;
    margin: 0 1px; /* to compensate for border */
}
#tabhead .tab div a {
    padding: 5px 12px;
}
#tabhead .right_tab {
    position: absolute;
    right: 15px;
    bottom: -1px; /* must be same thickness as tab border */
}
#tabhead .right_tab td {
    vertical-align: bottom;
    padding-right: 0; /* space between tabs */
    padding-bottom: 1px; /* must be same thickness as tab border */
}


/* SITE-SPECIFIC TAB STYLING */

#home_tab .tab_home,
#profile_tab .rtab_profile,
#notices_tab .rtab_notices
{
    bottom: -1px !important;
    padding-bottom: 0 !important;
}
#home_tab .tab_home a,
#profile_tab .rtab_profile a,
#notices_tab .rtab_notices a
{
    color: #000 !important; /* selected tab text colour */
}
#home_tab .tab_home div,
#profile_tab .rtab_profile div,
#notices_tab .rtab_notices div
{
    margin: 0;
    background-color: #DEF !important; /* selected tab colour */
    border-left: 1px solid #000 !important; /* tab border */
    border-top: 1px solid #000 !important; /* tab border */
    border-right: 1px solid #000 !important; /* tab border */
    padding-bottom: 5px; /* 1px more than unselected padding-bottom */
}
