{% extends "games/base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load things_tags %}

{% block head_title %}{% blocktrans %}Games{% endblocktrans %}{% endblock %}

{% block body %}
    {% ifequal group_name "All" %}
        <h1>{% trans "All Games" %}</h1>
    {% else %}
        <h1>{% trans "Games for Category" %}: {{ group_name }}</h1>
    {% endifequal %}
    {% autopaginate objects 24 %}
    {% display_ordering %}
    {% for game in objects %}
        <div class="game_item">
            <a href="{{ game.get_absolute_url }}" title="{{ game.name }}: {{ game.description }}"><img src="{{ game.get_thumbnail_url }}" /></a>
            <span class="game_name"><b><a href="{{ game.get_absolute_url }}">{{ game.name }}</a></b></span>
            <span class="game_plays">{{ game.game_plays }} Plays</span>
        </div>
    {% endfor %}
    <div class="clearfix"></div>
    {% paginate %}
{% endblock %}