table.invitation_list {
    width: 500px;
}
table.invitation_list td {
    padding: 5px 10px;
}
table.contact_list {
    width: 500px;
}
table.contact_list td {
    padding: 5px 10px;
}
.friendship_request {
    padding: 5px;
    background: #DEF;
    border: 1px solid #9BC;
}
.friendship_request p {
    padding: 0;
    margin: 0;
}
.friendship_request form {
    padding: 0;
    margin: 0;
}
.friendship_request p.invitation_message {
    font-size: 12pt;
    margin: 5px;
}
h2.join_date, h2.creation_date {
    font-size: 12pt;
    color: #666;
    border-bottom: 1px solid #999;
}
#avatar_replace {
    position: absolute;
    margin-top: -23px;
    background-color: #FFFFFF;
    padding: 3px;
    display: none;
}
ul.avatar_choices,ul.avatar_choices ul {
    margin-left: 0px;
    padding-left: 0px;
}
ul.avatar_choices li {
    display: inline;
    list-style-type: none;
}
.invitation_5, .invitation_7 {
    color: green;
    font-weight: bold;
}
.invitation_2 {
    color: gray;
}
table.messages {
    width: 100%;
}

table.messages tbody tr {
    border-bottom: 1px solid #ccc;
}

table.messages tr th, table.messages tr td {
    text-align: left;
    padding: 5px;
}

table.messages tr th {
    font-weight:bold;
    border-bottom: 1px solid #999;
}
dl.message-headers {
    border-top:1px solid #CCC;
    border-bottom:1px solid #CCC;
    padding: 5px 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

dl.message-headers dt {
    width: 70px;
    text-align: right;
    float: left;
    padding-right: 10px;
    font-weight: bold;
    color: #444;
}
dl.message-header dd {
    float: left;
}

div.left_panel {
    width: 550px;
}

div.friends {
    background: #DEF;
    padding: 8px;
    margin-bottom: 20px;
}
div.friends h2 {
    margin: 0 0 5px 0;
    padding: 0;
}
div.friends .avatar {
    padding: 0;
    text-align: center;
}
div.friends .details {
    text-align: center;
    overflow: hidden;
    width: 60px;
    margin: 0 0 12px 0;
}
div.tribes {
    background: #DEF;
    padding: 8px;
    margin-bottom: 20px;
}
div.tribes h2 {
    margin: 0 0 5px 0;
    padding: 0;
}
div.members {
    background: #DEF;
    padding: 8px;
    margin-bottom: 20px;
}
div.members h2 {
    margin: 0 0 5px 0;
    padding: 0;
}
div.members .avatar {
    padding: 0;
    text-align: center;
}
div.members .details {
    text-align: center;
    overflow: hidden;
    width: 60px;
    margin: 0 0 12px 0;
}

div.tweet {
    width: 500px;
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #CCC;
    font-size: 12pt;
}
div.tweet .timesince {
    color: #999;
    font-size: 80%;
}
span#chars_left {
    font-size: 16pt;
}
div.tweet .reply {
    font-size: 80%;
}

/* bookmarks */
table.narrow {
    width: 500px;
}
table.bookmarks td {
    vertical-align: top;
    padding: 5px;
}
table.bookmarks td h2 {
    margin: 0;
    padding: 0;
}
table.bookmarks td.vote {
    width: 80px;
    text-align: center;
    vertical-align: middle;
}
.bookmarks .even {
    background-color: #FAFAFA;
}
.bookmarks .odd {
    background-color: #F3F3F3;
}
div.url {
    color: #666;
    font-size: 90%;
    font-style: italic;
}

/* blogs */
.blog-post h2 {
    margin: 10px 0 0 0;
    font-style: italic;
}
.blog-post-tease {
    width: 500px;
    float: left;
}
.blog-post-meta {
    width: 200px;
    float: left;
    margin-left: 30px;
}
.blog-post-meta img { 
    border: 1px solid #666;
}
.blog-list tr.odd {
    background-color: #f3f3f3;
}
.blog-list td {
    vertical-align: top;
    padding: 3px 3px 15px 3px;
}
.blog-list td p {
    padding: 0;
    margin: 0;
}

.blog-post-meta img.noborder {
    border: 0;
}

/* projects */
.project_stats {
    color: #999;
    border-top: 1px solid #CCC;
    font-size: 90%;
}


/* tasks */

.tasks .even {
    background-color: #FAFAFA;
}
.tasks .odd {
    background-color: #F3F3F3;
}
table.task td, table.tasks td {
    vertical-align: top;
    padding: 5px 20px 5px 5px;
}
table.task, table.tasks {
    width: 100%;
}

div.task-meta {
    float: left;
    width: 150px;
    margin: 4px;
    padding: 4px;
    font-size: 80%;
}

div.task div.bulk h2 {
    margin: 0;
}
div.task-meta2 {
    color: #666;
    margin-top: 1em;
    font-size: 90%;
}

div.task-meta2 b {
    color: #000;
}

tr.task_resolved td a, tr.task_closed td a {
    text-decoration: line-through;
}

h2.task_resolved, h2.task_closed {
    text-decoration: line-through;
}

/* PHOTOS **************************************/
.thumb-row {
    margin: 20px 0;
    padding: 20px 0;
}
.gallery-photo-thumb {
    width: 100px; 
    margin: 10px 10px 20px 0;
    float: left;
    text-align: center;
}

.photo-right-profile, .photo-right-tools {
    background: #DEF;
    padding: 8px;
    margin-bottom: 20px;
}

.photo-profile-details {
    font-size: 0.9em;
}

.photo-avatar {
    float: left;
    margin-right: 10px;
}

.photo-avatar img {
    border: 1px solid #666;
}

.photo-right-tools ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.photo-right-tools ul li {
    background: #fff;
    padding: 2px 4px;
    margin: 2px 0;
}

.photo-right-tools li a {
    text-decoration: none;
}

.photo-right-tools li:hover {
    background: #DDDDDD;
}

.photo-profile-details h2 {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}

.photo-right-tools h2 {
    margin: 0 0 5px 0;
    padding: 0;
}

#embed-code textarea {
    width: 150px;
    font-size: 0.8em;
}
div.embed {
    margin: 10px 0;
    font-style: none;
}

.photo-right-tools form {
    margin: 0;
    padding: 0;
}
.delete_form {
  padding: 5px;
  background: #F99;
}
/* form toggle */

.form-toggle p {
    margin-bottom: 2px;
}

.form-toggle p span {
    background: #DEF;
    padding: 3px 6px;
    border-top: 1px solid #9BC;
    border-left: 1px solid #9BC;
    border-right: 1px solid #9BC;
    cursor: pointer;
}

.form-toggle form {
    padding: 3px 6px;
    margin: 0;
    background: #DEF;
    border: 1px solid #9BC;
}

.form-toggle input[type="submit"] {
}

/* locations */
div#ymap {
    width: 350px;
    height: 200px;
    float: right;
    border: 1px solid gray; 
}
