{% extends "site_base.html" %}

{% load i18n %}

{% block body_class %}tribes{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}tribes/css/tribes.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/topics.css" />
<script type="text/javascript" src="{{ STATIC_URL }}pinax/js/topics.js"></script>
{% endblock %}

{% block subnav %}
    <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url your_tribes %} ">{% trans "Your Tribes" %}</a></li>
            <li><a href="{% url tribe_create %}">{% trans "Create a Tribe" %}</a></li>
        {% endif %}
        <li><a href="{% url tribe_list %}">{% trans "All Tribes" %}</a></li>
    </ul>
{% endblock %}
