{% extends "site_base.html" %}

{% load humanize %}

{% block head_title %}Pinax : Notices{% endblock %}

{% block rtab_id %}notices_tab{% endblock %}

{% block body %}
<h1>Notices</h1>
{% if user.is_authenticated %}

{% if notices %}
{% regroup notices by added.date as notices_by_date %}

{% for date in notices_by_date %}
<h2 class="notice_date">{{ date.grouper|naturalday:"M d"|capfirst }}</h2>
{% for notice in date.list %}
<div class="notice">
    <span class="notice_type">[{{ notice.notice_type.display }}]</span>
    <span class="notice_message">{{ notice.message }}</span>
    <span class="notice_time">{{ notice.added.time|time:"P" }}</span>
</div>
{% endfor %}
{% endfor %}
{% else %}
<p>No notices.</p>
{% endif %}

<h2>Settings</h2>

<p>(not working yet)</p>

<form method="POST" action="">
<table class="notice_settings">
    <tr>
        <th>Notification Type</th>
        <th>Email</th>
    </tr>
{% for notice_type in notice_types %}
    <tr>
        <td>{{ notice_type.display }}<br/>
            <span class="notice_type_description">{{ notice_type.description }}</span>
        </td>
        <td>
            <input type="checkbox" />
        </td>
    </tr>
{% endfor %}
    <tr>
        <td><input type="submit" value="Change" /></td>
    </tr>
</table>
</form>

{% else %}
<p><span class="warning">Note</span>: Not logged in.</p>
{% endif %}

{% endblock %}
