{% extends "site_base.html" %}

{% block head_title %}Pinax : Friends{% endblock %}

{% block rtab_id %}friends_tab{% endblock %}

{% block body %}
<h1>Friends</h1>
{% if user.is_authenticated %}

<p>You can see a (temporary) list of all users <a href="/profiles/">here</a>.</p>

<h2>Your Friends</h2>

{% if user.friends.all %}
<table class="friend_list">
{% for friend in friends %}
    <tr>
        <td><a href="{% url profiles_app.views.profile friend.friend.username %}">{{ friend.friend }}</a></td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>No friends yet.</p>
{% endif %}


<h2>Friendship Requests Sent</h2>

{% if user.invitations_from.all %}
<table class="invitation_list">
{% for sent_invitation in user.invitations_from.all %}
    <tr>
        <td><a href="{% url profiles_app.views.profile sent_invitation.to_user.username %}">{{ sent_invitation.to_user }}</a></td>
        <td>{{ sent_invitation.sent }}</td>
        <td>{{ sent_invitation.get_status_display }}</td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>No friendship requests sent.</p>
{% endif %}


<h2>Friendship Requests Received</h2>

{% if user.invitations_to.all %}
<table class="invitation_list">
{% for invitation in user.invitations_to.all %}
    <tr>
        <td><a href="{% url profiles_app.views.profile invitation.from_user.username %}">{{ invitation.from_user }}</a></td>
        <td>{{ invitation.sent }}</td>
        <td>{{ invitation.get_status_display }}</td>
    </tr>
{% ifequal invitation.status "2" %}
    <tr>
        <td colspan="3">
            <div class="friendship_request">
            <p>{{ invitation.message }}</p>
            <form style="display: none;" id="invitation_{{ invitation.id }}" method="post" action="">
                <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
                <input type="hidden" name="action" value="accept"/>
            </form>
            <p><a href="#" onclick="$('#invitation_{{ invitation.id }}').submit()">accept</a></p>
            </div>
        </td>
    </tr>
{% endifequal %}        
{% endfor %}
</table>
{% else %}
<p>No friendship requests received.</p>
{% endif %}

{% else %}
<p><span class="warning">Note</span>: Not logged in.</p>
{% endif %}

{% endblock %}
