{% extends "messages/base.html" %}

{% block head_title %}Pinax : Invitations{% endblock %}

{% block body %}
<h1>Invitations</h1>
{% if user.is_authenticated %}

<h2>Join Requests</h2>

<p>If you'd like to invite someone to join Pinax, you can enter their email address and a message for them below:</p>

<form method="POST" action="">
<table>
{{ join_request_form }}
<tr><td></td><td><input type="submit" name="action" value="invite" /></td></tr>
</table>
</form>

<h2>Friendship Requests Sent</h2>

{% if user.invitations_from.all %}
<table class="invitation_list">
{% for invitation in user.invitations_from.all %}
    <tr>
        <td><a href="{% url profiles.views.profile invitation.to_user.username %}">{{ invitation.to_user }}</a></td>
        <td>{{ invitation.sent }}</td>
        <td class="invitation_{{ invitation.get_status_display }}">{{ invitation.get_status_display }}</td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>No friendship requests sent.</p>
{% endif %}


<h2>Friendship Requests Received</h2>

{% if user.invitations_to.all %}
<table class="invitation_list">
{% for invitation in user.invitations_to.all %}
    <tr>
        <td><a href="{% url profiles.views.profile invitation.from_user.username %}">{{ invitation.from_user }}</a></td>
        <td>{{ invitation.sent }}</td>
        <td class="invitation_{{ invitation.get_status_display }}">{{ invitation.get_status_display }}</td>
    </tr>
{% ifequal invitation.status "2" %}
    <tr>
        <td colspan="3">
            <div class="friendship_request">
            <p>{{ invitation.message }}</p>
            <form style="display: none;" id="invitation_{{ invitation.id }}" method="post" action="">
                <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
                <input type="hidden" name="action" value="accept"/>
            </form>
            <p><a href="#" onclick="$('#invitation_{{ invitation.id }}').submit()">accept</a></p>
            </div>
        </td>
    </tr>
{% endifequal %}        
{% endfor %}
</table>
{% else %}
<p>No friendship requests received.</p>
{% endif %}

{% else %}
<p><span class="warning">Note</span>: Not logged in.</p>
{% endif %}

{% endblock %}
