{% load i18n %}
{% load gravatar %}
{% load threadedcommentstags %}
{% load extra_tagging_tags %}

<div class="topic clearfix">
    <div class="task-meta">
        <div class="avatar">{% gravatar topic.creator 40 %}</div>
        <div class="details"><a href="{{ topic.creator.get_profile.get_absolute_url }}">{{ topic.creator }}</a></div>
        <div class="created">{{ topic.created|date }}</div>
    </div>
    <div class="bulk">
        <h2><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></h2>
        <div class="body">{{ topic.body|urlize|linebreaks }}</div>
        {% get_comment_count for topic as comment_count %}
        {% if comment_count %}
            <div class="comment_stats">
                {{ comment_count }} comment{{ comment_count|pluralize }}
                {% blocktrans with topic.modified|date as topic_modified %}
                (most recent: {{ topic_modified }})
                {% endblocktrans %}
            </div>
        {% endif %}
        <p>{% show_tags_for topic %}</p>
    </div>
</div>
