{% extends "notification/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Notification Settings" %}{% endblock %}

{% block body %}
    
    <div class="notice_settings">
        <h1>{% trans "Notification Settings" %}</h1>
        
        {% url acct_email as email_url %}
        {% if user.email %}
            <p>
                {% trans "Primary email" %}:<br />
                <b>{{ user.email }}</b><br />
                ({% blocktrans %}change under <a href="{{ email_url }}">Account</a>{% endblocktrans %})
            </p>
        {% else %}
            <p>
                <span class="warning">{% trans "Note" %}</span>:
                {% blocktrans %}You do not have a verified email address to which notices can be sent. You can add one by going to <a href="{{ email_url }}">Account</a>.{% endblocktrans %}
            </p>
        {% endif %}
        
        <form method="POST" action=""> {# doubt this easy to do in uni-form #}
            {% csrf_token %}
            <table class="notice_settings">
                <tr>
                    <th>{% trans "Notification Type" %}</th>
                    {% for header in notice_settings.column_headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                {% for row in notice_settings.rows %}
                    <tr>
                        <td>{% trans row.notice_type.display %}<br/>
                            <span class="notice_type_description">{% trans row.notice_type.description %}</span>
                        </td>
                        {% for cell in row.cells %}
                            <td>
                                <input type="checkbox" name="{{ cell.0 }}" {% if cell.1 %}checked="yes"{% endif %}/>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr>
                    <td><input type="submit" value="{% trans "Change" %}" /></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}