{% load i18n %}
{% load markup_tags %}
{% load avatar_tags %}
{% load extra_tagging_tags %}

<div class="blog-post clearfix">
    <h2><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a></h2>
    <div class="blog-post-tease">
        {% if blog_post.tease %}
             {% with blog_post.tease as body %}
                {{ body|apply_markup:blog_post.markup }}
            {% endwith %}
        {% else %}
            {% with blog_post.body|truncatewords:"150" as body %}
                {{ body|apply_markup:blog_post.markup }}
            {% endwith %}
        {% endif %}
    </div>
    <div class="blog-post-meta">
        {% avatar blog_post.author 40 %}
        <p><b>{% trans "Posted:" %}</b><br />
            <a href="{% url profile_detail blog_post.author.username %}">{{ blog_post.author.username }}</a> {% trans "on" %} {{ blog_post.publish|date }}</p>
        <div class="blog-tags">
            <p>{% show_tags_for blog_post %}</p>
        </div>
    </div>
</div>
