{% extends "blog/base.html" %}

{% load i18n %}
{% load humanize %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load blog_tags %}
{% load markup %}
{% load switchcase %}
{% load restructuredtext %}
{% load blog_tags %}

{% block head_title %}{% blocktrans %}All Blogs{% endblocktrans %}{% endblock %}

{% block extra_head %}
    <link rel="alternate" type="application/atom+xml" title="Blog Post Feed for All Users" href="/feeds/posts/all/" />
{% endblock %}

{% block body %}

    <h1>{% trans "All Blogs" %}</h1>

    {% if blogs %}
        <p>{% trans "These are blog posts from everyone:" %}</p>

        {% autopaginate blogs %}

            {% for blog_post in blogs %}
                {% show_blog_post blog_post %}
            {% endfor %}

        {% paginate %}

    {% else %}
        {% trans "No blog posts yet." %}
    {% endif %}

{% endblock %}
