{% extends "photos/base.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}{% blocktrans %}Editing Photo Details{% endblocktrans %}{% endblock %}

{% block body %}
    <div class="right_panel">
        {% include "photos/photo_right_panel.html" %}
    </div>
    
    <h1>{% trans "Photo Details" %}</h1>
    
    <div class="gallery-photo">
        <img src="{{ photo_url }}" alt="{{ photo.title }}"/>
    </div>

    {% ifequal photo.member request.user %}
        <form class="uniForm" id="edit-profile" method="POST" enctype="multipart/form-data" action="">
            <fieldset class="inlineLabels">
                {{ photo_form|as_uni_form }}
                <div class="form_block">
                    <input type="hidden" name="action" value="update" />
                    <input type="submit" value="{% trans "Update" %}" class="button" />
                </div>
            </fieldset>
        </form>
    {% else %}
        <p>You are not the author of this photo.</p>
    {% endifequal %}
{% endblock %}

