{% extends "blog/base.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}{% blocktrans %}Write a Blog Post{% endblocktrans %}{% endblock %}

{% block body %}
    
    {# @@@ not sure how to bring back teaser toggle with uni_form #}
    <form class="uniForm" id="edit-profile" method="POST" action="">
        <fieldset class="inlineLabels">
            {{ blog_form|as_uni_form }}
            <div class="form_block">
            <input type="hidden" name="action" value="create" />
            <input type="submit" value="{% trans "create" %}"/>
            </div>
        </fieldset>
    </form>
    
{% endblock %}

{% block extra_body %}
    {% load jquery_validation %}
    {% include_validation %}
    <script type="text/javascript">
        $(function(){
            $('#blog_form').validate('{% url blog_form_validate %}', {type: 'table'});
        });
    </script>
{% endblock %}
