{% extends "blog/base.html" %}

{% load i18n %}
{% load gravatar %}
{% load humanize %}
{% load threadedcommentstags %}
{% load tagging_tags %}
{% load wiki %}

{% block head_title %}Pinax : {% blocktrans %}Blog Article{% endblocktrans %}{% endblock %}

{% block body %}
    <p><span class="warning">Note</span>: this is an <b>experimental</b> feature that is subject to massive change at any time.</p>


	<div class="blog-article">
		<h2>{{ post.title }}</h2>
		<div class="blog-meta"><p>Posted by: <a href="{% url profiles.views.profile post.author.username %}">{{ post.author.username }}</a> on {{ post.publish|date }}</p></div>
		<div class="blog-tags">
			<p><img src="/site_media/comment.png" border="0" class="noborder" align="absmiddle" />
			{% tags_for_object post as tags %}
			{% for tag in tags %}
				<a href="/tags/{{ tag }}">{{ tag }}</a>
			{% endfor %}</p>
		</div>

        {% render_content post 'body' %}

	</div>

	<h3>Comments on This Post:</h3>
    {% get_threaded_comment_tree for post as responses %}

	<a name="comments"></a>
    <ul class="responses">
        {% for response in responses %}
            <li class="{% cycle even,odd %} thread-{{ response.depth }} clearfix">
                <div class="meta">
                    <div class="avatar">{% gravatar response.user 40 %}</div>
                    <div class="details"><a href="{% url profiles.views.profile response.user.username %}">{{ response.user }}</a></div>
                    {{ response.date_submitted|date }}
                </div>
                <div class="bulk">
                    <div class="body">{{ response.comment|urlize|linebreaks }}</div>
                    {% ifequal user response.user %}
                    <form method="POST" action="{% url tc_comment_delete response.id %}">
                        <input type="submit" value="{% trans "Delete Post" %}" />
                        <input type="hidden" name="next" value="{% url article response.content_object.slug %}" />
                    </form>
                    {% endifequal %}
                    <a href="javascript:toggle_comment_form({{ response.id }})">Reply to This Post</a>
                    <form class="hidden" method="POST" action="{% get_comment_url post response %}" id="comment_form_{{ response.id }}">
                        <table><tr><td><textarea id="id_comment" rows="10" cols="40" name="comment"></textarea></td></tr>
                        <tr><td><input type="submit" value="{% trans "Post Response" %}" /></td></tr></table>
                        <input type="hidden" name="next" value="{{ request.path }}" />
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>

    <form action="{% get_comment_url post %}" method="POST">
        <table>
            <tr><td><textarea id="id_comment" rows="10" cols="40" name="comment"></textarea></td></tr>
            <tr><td><input type="submit" value="{% trans "Post Response" %}" /></td></tr>
        </table>
        <input type="hidden" name="next" value="{{ request.path }}" />
    </form>



{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        function toggle_comment_form(id){
            var cform = $('#comment_form_' + id);
            if(cform.hasClass('hidden')) {
                cform.prev().text("Stop Replying to This Post");
                cform.slideDown();
            }
            else {
                cform.prev().text("Reply to This Post");
                cform.slideUp();
            }
            cform.toggleClass('hidden');
        }
    </script>

{% endblock %}
