{% extends 'wiki/base.html' %}

{% load i18n %}
{% load wiki %}

{% block head_title %}Wiki{% endblock %}

{% block body %}
    {# wiki_title group #}
    
    <h2><a href="{% url wiki_article article.title %}">{{ article.title }}</a></h2>
    
    {% if changeset.old_title %}
        <h3>{{ changeset.old_title }}</h3>
    {% endif %}
    
    {{ changeset.display_diff|safe }}<br />
    <b>{% trans "Markup:" %}</b>
    {% if changeset.old_markup %}
        {{ changeset.old_markup }}
    {% else %}
        {% trans "Plain Text." %}
    {% endif %}
{% endblock %}
