.pagination {
    margin: 10px 0;
}
.pagination .disabled {
    padding: 3px;
    color: #999;
    border: 1px solid #CCC;
}
.pagination .current {
    padding: 3px;
    color: #FFF;
    border: 1px solid #444;
    background: #666;
}
.pagination a {
    padding: 3px;
    text-decoration: none;
    border: 1px solid #CCC;
    color: #444;
    background: #EEE;
}

.pagination a:hover {
    background: #DDD;
}