{% extends "site_base.html" %}

{% load i18n %}
{% load generic_flatblocks %}

{% block head_title %}{% trans "Products" %}{% endblock %}

{% block tab_id %}id="products_tab"{% endblock %}

{% block body %}
    {% gblock "products_content" for "gblocks.TitleAndText" %}
    
    {% gblock "products_image1" for "gblocks.Image" with "gblocks/image/imagelist.html" %}
    {% gblock "products_image2" for "gblocks.Image" with "gblocks/image/imagelist.html" %}
    {% gblock "products_image3" for "gblocks.Image" with "gblocks/image/imagelist.html" %}
{% endblock %}
