include LICENSE NOTICE CHANGELOG MANIFEST.in NEWS background-associations.txt
graft admin
graft contrib
recursive-include examples README discover *.py *.html *.xml
recursive-include openid/test *.txt dhpriv n2b64 *.py
recursive-include openid/test/data *
recursive-include doc *.css *.html
