{% extends "site_base.html" %}

{% block head_title %}Tabula Rasa : Password Reset{% endblock %}

{% block body %}
    <h1>Password Reset</h1>
    {% if user.is_authenticated %}
    <p><span class="warning">Note</span>: you are already logged in as {{ user }}.</p>
    {% endif %}
    <p>Forgotten your password? Enter your e-mail address below, and we'll reset your password and e-mail the new one to you.</p>
    <form action="" method="POST">
    <table>{{ password_reset_form.as_table }}
    <tr><td></td><td><input type="submit" value="Reset my password" /></td></tr>
    </table>
    </form>
    <p>If you have any trouble resetting your password, contact us at <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.</p>
{% endblock %}

{% block extra_body %}
<script>
    $("#id_email").focus();
</script>
{% endblock %}
