{% extends "site_base.html" %}

{% block head_title %}Tabula Rasa : Password Reset{% endblock %}

{% block body %}
    <h1>Password Reset</h1>
    {% if user.is_authenticated %}
    <p><span class="warning">Note</span>: you are already logged in as {{ user }}.</p>
    {% endif %}
    <p>A new password has been sent to <b>{{ email }}</b>. If you do not receive it within a few minutes, contact us at <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.</p>
    <p>When you receive the new password, you should <a href="/account/login/">log in</a> and change it as soon as possible.</p>
{% endblock %}
