{% extends "site_base.html" %}

{% load i18n %}
{% load captureas_tag %}

{% block head_title %}Pinax : {% trans "Signup" %}{% endblock %}

{% block extra_head %}
	{% load jquery_validation %}
	{% include_validation %}
	<script type="text/javascript">
	    $(function(){
	        $('#signup_form').validate('{% url signup_form_validate %}', {type: 'table', fields: ['username'], dom: $('#id_username'), event: 'change'});
	    });
	</script>
{% endblock %}

{% block body %}
    <h1>{% trans "Sign Up" %}</h1>
    
    {% if user.is_authenticated %}
        <p>{% trans "You are already logged in." %}</p>
    {% else %}
        <p>{% trans "Already have an account?" %} <a href="{% url acct_login %}">{% trans "Log In" %}</a>!</p>
        
        <form class="signup" id="signup_form" method="post" action="{% url acct_signup %}">
            <table>
                {{ form.as_table }}
                <tr><td></td><td><input type="submit" value="{% trans "Sign Up &raquo;" %}" /></td></tr>
            </table>
        </form>
        
        {% captureas terms_url %}{% url terms %}{% endcaptureas %}
        {% captureas privacy_url %}{% url privacy %}{% endcaptureas %}
        <p>{% blocktrans %}By clicking "Sign Up", you are indicating that you have read and agree to the <a href="{{ terms_url }}">Terms of Use</a> and <a href="{{ privacy_url }}">Privacy Policy</a>.{% endblocktrans %}</p>
        
        <p>{% blocktrans %}If you have any trouble creating your account, contact us at <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.{% endblocktrans %}</p>
        
        <p>If you have OpenID, <a href="{% url acct_login %}">log in</a> using that to begin using this site with OpenID right away.</p>
    {% endif %}
{% endblock %}

{% block extra_body %}
<script>
    $("#id_username").focus();
</script>
{% endblock %}