{% extends "tasks/base.html" %}

{% load i18n %}
{% load tasks_tags %}
{% load comments_tag %}

{% block head_title %}{{ task.summary }}{% endblock %}

{% block body %}
    {#<p><a href="{% url project_tasks task.project.slug %}">&larr; {% trans "Back to Task List for Project " %} {{ task.project }}</a></p>#}
    
    <p><a href="{% url task_list %}">&larr; {% trans "Back to Task List" %}</a></p>
    
    {% show_task task %}
    
    {% if is_member %}
        <h2>Edit</h2>
        
        <form action="" method="POST">
            <table>
                {{ form }}
                <tr><td></td><td><input type="submit" value="{% trans "Update Task" %}" /></td></tr>
            </table>
        </form>
    {% endif %}
    
    <h2>Comment</h2>
    {% comments task %}
{% endblock %}