
/* SITE-SPECIFIC TAB STYLING */

body.profile #tab_profile a,
body.projects #tab_projects a,
body.notices #tab_notices a
{
    color: #000; /* selected tab text colour */
}
body.profile #tab_profile,
body.projects #tab_projects,
body.notices #tab_notices
{
    margin: 0; /* to compensate for border */
    padding: 5px 0 5px;
    background-color: #DEF; /* selected tab colour */
    border-left: 1px solid #000; /* tab border */
    border-top: 1px solid #000; /* tab border */
    border-right: 1px solid #000; /* tab border */
}
