{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Pinax : Apps{% endblock %}

{% block tab_id %}id="apps_tab"{% endblock %}

{% block body %}
<h1>Apps</h1>

<p>More about the apps that make up Pinax.</p>

<h2>External</h2>

<p>These already exist as independent apps. Some pre-existed Pinax, some were written especially for it.</p>

<dl>
    <dt><a href="http://code.google.com/p/django-notification/">django-notification</a></dt>
    <dd>user notification management</dd>
    <dt><a href="http://code.google.com/p/django-email-confirmation/">django-email-confirmation</a></dt>
    <dd>simple email verification</dd>
    <dt><a href="http://code.google.com/p/django-command-extensions/">django-command-extensions</a></dt>
    <dd>useful management commands</dd>
    <dt><a href="http://code.google.com/p/django-robots/">django-robots</a></dt>
    <dd>for managing robots.txt files</dd>
    <dt><a href="http://code.google.com/p/django-databasetemplateloader/">django-databasetemplateloader</a></dt>
    <dd>loader for templates from the database</dd>
    <dt><a href="http://code.google.com/p/django-friends/">django-friends</a></dt>
    <dd>friendship, contact and invitation management</dd>
    <dt><a href="http://code.google.com/p/django-mailer/">django-mailer</a></dt>
    <dd>mail queuing and management</dd>
    <dt><a href="http://code.google.com/p/django-messages/">django-messages</a></dt>
    <dd>private messages between users</dd>
    <dt><a href="http://code.google.com/p/django-announcements/">django-announcements</a></dt>
    <dd>site announcements</dd>
    <dt><a href="http://code.google.com/p/django-oembed/">django-oembed</a></dt>
    <dd>support for oembeded links</dd>
    <dt><a href="http://code.google.com/p/django-logging/">django-logging</a></dt>
    <dd>debugging and logging</dd>
    <dt><a href="http://code.google.com/p/django-db-log/">django-db-log</a></dt>
    <dd>exception logging to the database</dd>
    <dt><a href="http://code.google.com/p/django-pagination/">django-pagination</a></dt>
    <dd>easy pagination</dd>
    <dt><a href="http://code.google.com/p/django-threadedcomments/">django-threadedcomments</a></dt>
    <dd>threaded comments</dd>
    <dt><a href="http://code.google.com/p/django-wikiapp/">django-wikiapp</a></dt>
    <dd>simple wiki</dd>
    <dt><a href="http://code.google.com/p/django-evolution/">django-evolution</a></dt>
    <dd>db schema evolution</dd>
    <dt><a href="http://code.google.com/p/django-timezones/">django-timezones</a></dt>
    <dd>timezone localization</dd>
</dl>

<p><a href="http://code.google.com/p/django-openidconsumer/">django-openidconsumer</a> and <a href="http://code.google.com/p/django-openidauth/">django-openidauth</a> are also used but locally for modification.</p>


<h2>Local</h2>

<p>These are currently inside Pinax but could potentially be broken out as generic apps.</p>

<dl>
    <dt>analytics</dt>
    <dd>Google analytics javascript</dd>
    <dt>profiles</dt>
    <dd>profile pages</dd>
    <dt>zwitschern</dt>
    <dd>a Twitter clone</dd>
    <dt>account</dt>
    <dd>overall account management: signup, login, password change/reset, etc</dd>
    <dt>tribes</dt>
    <dd>groups of people with common interests</dd>
    <dt>gravatar</dt>
    <dd>for displaying gravatars</dd>
</dl>




{% endblock %}
