<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% block head_title %}{% endblock %}</title>
        <!--[if IE]><style>
            div {
                zoom: 1; /* trigger hasLayout */
            }
        </style><![endif]-->
        <link rel="stylesheet" href="/site_media/base.css" />
        {% block extra_head %}
        {% endblock %}
    </head>
    
    <body>
		{% if site_wide_announcements %}
		<div id="site_wide_announcements">
			<ul>
				{% for announcement in site_wide_announcements %}
				<li>
					<a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a> -
					<a href="{% url announcement_hide announcement.pk %}?next={{ request.path }}">Hide announcement</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
        <div id="tabhead">
            <div class="logo">{% block logo_link_image %}{% endblock %}</div>
            <div class="login">{% block login %}{% endblock %}</div>
            <div class="tabs" id="{% block tab_id %}{% endblock %}">{% block tabs %}{% endblock %}</div>
            <div class="right_tab" id="{% block rtab_id %}{% endblock %}">{% block right_tab %}{% endblock %}</div>
        </div>
        
        <div id="body">
            {% if messages %}
            <ul id="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                <li><a href="#" onclick="$('#messages').fadeOut(); return false;"><small>clear messages</small></a></li>
            </ul>
            {% endif %}
            {% block subnav %}
            {% endblock %}
            {% block body %}
            {% endblock %}
            </div>
        
        <div id="footer">{% block footer %}{% endblock %}</div>
        
        <script src="/site_media/jquery.js" type="text/javascript"></script>
        {% load analytics %}
        {% urchin %}
        {% block extra_body %}
        {% endblock %}
    </body>
</html>