{% extends "tribes/base.html" %}

{% load i18n %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load gravatar %}

{% block head_title %}Pinax : {{ topic.title }}{% endblock %}

{% block body %}
{% get_threaded_comment_tree for topic as responses %}
{% autopaginate responses %}
<p><a href="{% url tribe_topics topic.tribe.slug %}">&larr; {% trans "Back to Topic List for Tribe " %} {{ topic.tribe }}</a></p>

<table class="topic">
    <tr>
        <td class="meta">
            <div class="avatar">{% gravatar topic.creator 40 %}</div>
            <div class="details"><a href="{% url profiles.views.profile topic.creator.username %}">{{ topic.creator }}</a></div>
            {{ topic.created|date }}
        </td>
        <td>
            <h1>{{ topic.title }}</h1>
            <div class="body">{{ topic.body|urlize|linebreaks }}</div>
            {% ifequal user topic.creator %}
            <form method="POST" action="{% url tc_comment_delete topic.id %}">
                <input type="submit" value="{% trans "Delete Topic" %}" />
                <input type="hidden" name="next" value="{% url tribe_detail topic.content_object.slug %}" />
            </form>
            {% endifequal %}
        </td>
    </tr>
</table>


<table class="responses">
    {% for response in responses %}
        <tr class="{% cycle odd,even %}">
            <td class="meta">
                <div class="avatar">{% gravatar response.user 40 %}</div>
                <div class="details"><a href="{% url profiles.views.profile response.user.username %}">{{ response.user }}</a></div>
                {{ response.date_submitted|date }}
            </td>
            <td>
                <div class="body">{{ response.comment|urlize|linebreaks }}</div>
                {% ifequal user response.user %}
                <form method="POST" action="{% url tc_comment_delete response.id %}">
                    <input type="submit" value="{% trans "Delete Post" %}" />
                    <input type="hidden" name="next" value="{% url tribe_detail response.content_object.slug %}" />
                </form>
                {% endifequal %}
            </td>
        </tr>
    {% endfor %}
</table>

<form action="{% get_comment_url topic %}" method="POST">
    <table>
    <tr><td><textarea id="id_comment" rows="10" cols="40" name="comment"></textarea></td></tr>
    <tr><td><input type="submit" value="{% trans "Post Response" %}" /></td></tr>
    </table>
    <input type="hidden" name="next" value="{{ request.path }}" />
</form>
{% paginate %}
{% endblock %}