{% extends "tribes/base.html" %}

{% load i18n %}
{% load gravatar %}
{% load threadedcommentstags %}
{% load pagination_tags %}

{% block head_title %}Pinax : {{ tribe.name }}{% endblock %}

{% block body %}

<div class="right_panel">
    <div class="members">
        <h2>{% trans "Members" %}</h2>
        <table width="100%">
            {% for member in tribe.members.all %}
            {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
                <td>
                    <div class="avatar">{% gravatar member 40 %}</div>
                    <div class="details"><a href="{% url profiles.views.profile member.username %}">{{ member }}</a></div>
                </td>
            {% if forloop.counter0|add:"1"|divisibleby:"3" %}</tr>{% endif %}
            {% endfor %}
            {% if tribe.members.all|length|divisibleby:"3" %}{% else %}</tr>{% endif %}
        </table>
    </div>
</div>

<div style="width: 550px;">
<p><span class="warning">Note</span>: this is an <b>experimental</b> feature that is subject to massive change at any time.</p>

<h1>{% trans "Tribe" %} {{ tribe.name }}</h1>


<p>Slug: <tt>{{ tribe.slug }}</tt><br />
Creator: <a href="{% url profiles.views.profile tribe.creator.username %}">{{ tribe.creator }}</a><br />
Created: {{ tribe.created|date }}
</p>


<p>{{ tribe.description }}</p>


{% ifequal user tribe.creator %}
<p><a href="#" onclick="$('#tribe_form').toggle(); return false;">{% trans "Edit details" %}</a></p>

<form id="tribe_form" method="POST" action="" style="display: none;">
<table>
{{ tribe_form }}
<tr><td></td><td><input type="hidden" name="action" value="update" /><input type="submit" value="{% trans 'update' %}"/></td></tr>
</table>
</form>
{% endifequal %}

<div>
<form method="POST" action="">
{% if are_member %}
{% ifequal user tribe.creator %}
<p>You are the creator of this tribe so can't leave (yet).</p>
{% else %}
<input type="hidden" name="action" value="leave" /><input type="submit" value="{% trans "leave" %}"/>
{% endifequal %}
{% else %}
<input type="hidden" name="action" value="join" /><input type="submit" value="{% trans "join tribe" %}"/>
{% endif %}
</form>
</div>

<h2>Discussion Topics{% if tribe.topics.all.count %} ({{ tribe.topics.all.count }}){% endif %}</h2>

{% if topics %}
<table class="topics">
    {% for topic in topics %}
    <tr class="{% cycle odd,even %}">
        <td class="meta">
            <div class="avatar">{% gravatar topic.creator 40 %}</div>
            <div class="details"><a href="{% url profiles.views.profile topic.creator.username %}">{{ topic.creator }}</a></div>
            {{ topic.created|date }}
        </td>
        <td>
            <h2><a href="{% url tribe_topic topic.id %}">{{ topic.title }}</a></h2>
            <div class="body">{{ topic.body|urlize|linebreaks }}</div>
        </td>
    </tr>
    {% endfor %}
</table>
<p><a href="{% url tribe_topics tribe.slug %}">more...</a></p>
{% else %}
<p>None yet. <a href="{% url tribe_topics tribe.slug %}">Start one...</a></p>
{% endif %}

<h2>Wiki Articles{% if total_articles %} ({{ total_articles }}){% endif %}</h2>

{% if articles %}
<table class="topics">
    {% for article in articles %}
    <tr class="{% cycle odd,even %}">
        <td class="meta">
            <div class="avatar">{% gravatar article.latest_changeset.editor 40 %}</div>
            <div class="details"><a href="{% url profiles.views.profile article.latest_changeset.editor.username %}">{{ article.creator }}</a>
            </div>
            {{ article.last_update|date }}
        </td>
        <td>
            <h2><a href="{% url wiki_article title=article.title,group_slug=tribe.slug %}">{{ article.title }}</a></h2>
            <div class="body">{{ article.content|truncatewords:25 }}</div>
        </td>
    </tr>
    {% endfor %}
</table>
<p><a href="{% url wiki_article_list group_slug=tribe.slug %}">more...</a></p>
{% else %}
<p>None yet. Start a <a href="{% url wiki_edit_article group_slug=tribe.slug,title="NewArticle" %}">NewArticle</a>...</p>
{% endif %}


</div>
{% endblock %}

{% block extra_body %}
<script>
{% if tribe_form.errors %}
    $('#tribe_form').show();
{% endif %}
</script>
{% endblock %}
