{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Other Services" %}{% endblock %}

{% block body %}

<h1>{% trans "Other Services" %}</h1>
<h3><a href="#" onclick="$('#TwitterForm').toggle();">{% trans "Twitter" %}</a></h3>
<form  action="" method="POST" name="TwitterForm" id="TwitterForm">
  {% if twitter_authorized %}
  <p style="background:#C8E8FB">
    {% trans "You have already authorized a twitter account." %}
    {% trans "Change your account with this form." %}
  
{% endif %}
<table>
  {{ twitter_form }}
  <tr>
      <td>&nbsp;</td>
      <td><input id="actionType" type="hidden" name="actionType" value="saveTwitter" />
      <input type="submit" value="{% trans "save" %}"/></td></tr>
</table>
        <label for="SaveTwitter"></label>
</form>
<h3><a href="#" onclick="$('#PownceForm').toggle();">{% trans "Pownce" %}</a></h3>
<form id="PownceForm" action="" method="post">
{% if pownce_authorized %} 
<p style="background:#C8E8FB">
  {% trans "You have already authorized a pownce account." %}
  {% trans "Change your account with this form." %}{% endif %} <label for="SavePownce"></label>
  </p>
  <table>
        {{ pownce_form }}
    <tr>
        <td>&nbsp;</td>
          <td><input id="actionType"  type="hidden" name="actionType" value="savePownce" />
            <input type="submit" value="{% trans "Save" %}"/></td>
    </tr>
  </table>
</form>
    <p>{% endblock %}
      
      {% block extra_body %}
      {% load jquery_validation %}
      {% include_validation %}
  <script type="text/javascript">
       <!-- nothing here -->
      </script>
      {% endblock %}</p>
