<td class="daynumber{% ifequal size "small" %} compact{% endifequal %}{% ifnotequal day.start.month month.start.month %} noday"></td>{% else %}{% if day.has_occurrences %} busy{% else %} free{% endif %}"><a href="{% url d_calendar_date calendar.slug,day.start.year,day.start.month,day.start.day %}"><b>{{day.start.day}}</b></a><br/>
{% if day.has_occurrences %}
{% ifnotequal size "small" %}
{% for o in day.get_occurrence_partials %}
{% ifequal o.class 0 %}{{ o.occurrence.start|time:"P" }} -- {{ o.occurrence.event.title }}<br/>{% endifequal %}
{% ifequal o.class 1 %}{{ o.occurrence.start|time:"P" }} -- {{ o.occurrence.event.title }}<br/>{% endifequal %}
{% ifequal o.class 2 %}(All day)<br/>{{ o.occurrence.event.title }}<br/>{% endifequal %}
{% ifequal o.class 3 %}Ends at {{ o.occurrence.end|time:"P" }} -- {{ o.occurrence.event.title }}<br/>{% endifequal %}
{% endfor %}
{% endifnotequal %}
{% endif %}</td>
{% endifnotequal %}
