{% extends "schedule/base.html" %}
{% block head_title %}Available Calendars{% endblock %}
{% block body %}
<h2>Available Calendars</h2>
<ul>
{% for cal in object_list %}
<li><b>{{ cal }}</b> : <a href="{% url s_calendar cal.slug %}">Classic Month</a> -- <a href="{% url c_calendar cal.slug %}">Small Month</a> -- <a href="{% url m_calendar cal.slug %}">1 Month</a> -- <a href="{% url tri_month_calendar cal.slug %}">3 Months</a> -- <a href="{% url year_calendar cal.slug %}">This Year</a> -- <a href="{% url w_calendar cal.slug %}">Weekly</a> -- <a href="{% url d_calendar cal.slug %}">Daily</a></li><br/>
{% endfor %}
</ul>
{% endblock %}
