{% extends "site_base.html" %}
{% load i18n %}

{% block body %}
<div class="event_actions">
	{% if back_url %}
	<a href="{{ back_url }}"><img border="0" src="{{ MEDIA_URL }}left_mod.png" alt="{% trans "Back" %}"></a> &nbsp;
	{% endif %}
	<a href="{% url s_edit_event event.id %}"><img border="0" src="{{ MEDIA_URL }}pencil.png" alt="{% trans "Change" %}"></a> &nbsp;
	<a href="{% url s_delete_event event.id %}"><img border="0" src="{{ MEDIA_URL }}delete.png" alt="{% trans "Delete" %}"></a>
</div>
<h2 align="center">{{event.title}}</h2>
<table align="center">
<tr>
<td>Starts</td>
<td>{% blocktrans with event.start|date:_("DATETIME_FORMAT") as start_date %}{{ start_date }}{% endblocktrans %}</td>
</tr>
<tr>
<td>Ends</td>
<td>{% blocktrans with event.end|date:_("DATETIME_FORMAT") as end_date %}{{ end_date }}{% endblocktrans %}</td>
</tr>
<tr>
<td>Reoccurs</td>
{% if event.rule %}
<td>{{ event.rule }} until {% blocktrans with event.end_recurring_period|date:_("DATETIME_FORMAT") as end_recurring_date %}{{ end_recurring_date }}{% endblocktrans %}</td>
{% else %}
<td>{% trans "Never. This is a 'one time only' event." %}</td>
{% endif %}
</tr></table>
{% if event.description %}
<h3>Description</h3>
<p>{{event.description}}</p>
{% endif %}

<h3>Calendar View</h3>
<a href="{% url year_calendar_date calendar.slug,event.start.year %}">Yearly</a>
<a href="{% url m_calendar_date calendar.slug,event.start.year,event.start.month %}">Monthly</a>
<a href="{% url d_calendar_date calendar.slug,event.start.year,event.start.month,event.start.day %}">Daily</a>
{% endblock %}
