{% extends "site_base.html" %}

{% load biblion_tags %}
{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    
    <h1>{% trans "Welcome to Pinax" %}</h1>
    
    <p>
        {% blocktrans %}
        <b>Pinax</b> is a <a href="http://djangoproject.com/">Django</a>
        project intended to provide a starting point for websites. By
        integrating numerous reusable Django apps to take care of the
        things that many sites have in common, it lets you focus on what
        makes your site different.
        {% endblocktrans %}
    </p>
    
    <p>
        {% blocktrans %}
        For more information about Pinax, see
        <a href="http://pinaxproject.com/">http://pinaxproject.com/</a>.
        {% endblocktrans %}
    </p>
    
    <h2>{% trans "About this project" %}</h2>
    
    <p>
        {% blocktrans %}
        This project provides a simple out of the box blog.
        {% endblocktrans %}
    </p>
    
    <h2>{% trans "Latest Blog Posts" %}</h2>
    {% latest_blog_posts as posts %}
    {% if posts %}
        {% for post in posts %}
            <div class="blog-post">
                {% include "biblion/_minipost.html" %}
                <div><a href="{{ post.get_absolute_url }}" class="more">read more &rarr;</a></div>
            </div>
        {% endfor %}
    {% else %}
        <p>No blog posts have been published.</p>
    {% endif %}
    
    
{% endblock %}
