{% extends "wiki/base.html" %}

{% load i18n %}
{% load wiki_tags %}
{% load group_tags %}
{% load markup_tags %}
{% load extra_tagging_tags %}


{% block head_title %}Wiki for {{ group.name }} - {{ article.title }} {% endblock %}

{% block body %}

    {% if allow_write or article.id %}
    <div class="right_panel">
        <div class="actions">
            <h2>{% trans "Actions" %}</h2>
            {% if article.id %}

            {% if allow_write %}<li><a href="{% groupurl wiki_edit group title=article.title %}">{% trans "Edit this article" %}</a> </li>
            {% endif %}
            <li><a href="{% groupurl wiki_article_history group title=article.title %}">{% trans "Editing history" %}</a> </li>

            {% else %}

            <li><a href="{% groupurl wiki_edit group title=article.title %}">{% trans "Create this article" %}</a></li>

            {% endif %}
        </div>
    </div>
    {% endif %}

    {% wiki_title group %}

    <h2><a href="{% groupurl wiki_article group title=article.title %}" rel="bookmark">{{ article.title }}</a></h2>

    {% if not article.id and allow_write %}
        <p>
            {% trans "This article does not exist." %}
            <a href="{% groupurl wiki_edit group title=article.title %}" {% trans ">Create it now</a>?" %}
        </p>
    {% endif %}
    
    {{ article.content|apply_markup:article.markup }}

    {% show_tags_for article %}

    {# @@@ this should be done via inclusion tag provided by notification #}
    {% if article.id and can_observe %}
        {% if is_observing %}
            <form action="{% groupurl wiki_stop_observing group title=article.title %}" method="post">
                <input type="submit" value="{% trans "Stop Observing Article" %}">
            </form>
        {% else %}
            <form action="{% groupurl wiki_observe group title=article.title %}" method="post">
                <input type="submit" value="{% trans "Observe Article" %}">
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
