{% extends "games/base.html" %}

{% load i18n %}
{% load comments_tag %}

{% block head_title %}{% blocktrans %}Game{% endblocktrans %} : {{ game.name }}{% endblock %}

{% block body %}
    <h1>{% trans "Game" %}: {{ game.name }}</h1>
    <p><b>{% trans "By" %}:</b> {{ game.author }}</p>
    <p>
        <b>{% trans "Categories" %}:</b> 
        {% for cat in game.categories.all %}<a href="{% url games_category cat.slug %}">{{ cat.name }}</a> {% endfor %}
    </p>
    <embed src="{{ game.get_swf_url }}" width="{{ game.width }}" height="{{ game.height }}"></embed>
    <p><b>Description:</b> {{ game.description }}</p>
    <h2>{% trans "Comments" %}: </h2>
    {% comments game %}
{% endblock %}