{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Notices{% endblock %}

{% block body_class %}inbox{% endblock %}

{% block subnav %}
    <ul>
        <li><a href="{% url messages_compose %} ">{% trans "Compose" %}</a></li>
        <li><a href="{% url messages_inbox %} ">{% trans "Inbox" %} ({{ messages_inbox_count }})</a></li>
        <li><a href="{% url messages_outbox %} ">{% trans "Sent" %}</a></li>
        <li><a href="{% url messages_trash %}">{% trans "Trash" %}</a></li>
        <li><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
        <li><a href="{% url invitations %}">{% trans "Invitations" %}{% if invitations_count %} ({{ invitations_count }}){% endif %}</a></li>
        <li><a href="{% url invitations_contacts %}">{% trans "Contacts" %}</a></li>
    </ul>
{% endblock %}
