{% extends "messages/base.html" %}

{% load i18n %}
{% load timezone_filters %}
{% load account_tags %}

{% block body %}
    <h1>{% trans "Sent Messages" %}</h1>
    
    <table class="messages">
        <thead>
            <tr><th scope="col">{% trans "Recipient" %}</th><th scope="col">{% trans "Subject" %}</th><th scope="col">{% trans "Sent" %}</th><th scope="col">{% trans "Action" %}</th></tr>
        </thead>
        <tbody>
            {% for message in message_list %}
                <tr>
                    <td scope="row">{% user_display message.recipient %}</td>
                    <td>
                        <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a>
                    </td>
                    <td>{{ message.sent_at|localtime:account.timezone|date:_("DATETIME_FORMAT") }}</td>
                    <td><a href="{% url messages_delete message.id %}?next={% url messages_outbox %}">{% trans "delete" %}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}