{% extends "photos/base.html" %}

{% load i18n %}
{% load gravatar %}
{% load humanize %}
{% load pagination_tags %}
{% load captureas_tag %}
{% load tagging_tags %}
{% load wiki %}
{% load markup %}
{% load switchcase %}
{% load restructuredtext %}
{% load threadedcommentstags %}

{% block head_title %}{% blocktrans %}Photo Details{% endblocktrans %}{% endblock %}

{% block body %}
    <p><span class="warning">Note</span>: this is an <b>experimental</b> feature that is subject to massive change at any time.</p>
    
    <h1>{% trans "Photo Details" %}</h1>
    
    {% if photo %}
        <div class="gallery-photo">
            <img src="/site_media/{{ photo.get_display_url }}" alt="{{ photo.title }}"/>
        </div>
        <div class="photo-title">
            <h2>{{ photo.title }}</h2>
        </div>
        <div class="photo-caption">
            <p>{{ photo.caption }}</p>
        </div>
        <div class="photo-meta">
            <img src="/site_media/tags.png" border="0" class="noborder" align="absmiddle" />  {% tags_for_object photo as tags %}
            {% for tag in tags %}
                <a href="/tags/{{ tag }}">{{ tag }}</a>
            {% endfor %}</p>
        </div>
        
        
        <h3>Comments on This Photo:</h3>
        {% get_threaded_comment_tree for photo as responses %}

        <a name="comments"></a>
        <ul class="responses">
            {% for response in responses %}
                <li class="{% cycle even,odd %} thread-{{ response.depth }} clearfix">
                    <div class="meta">
                        <div class="avatar">{% gravatar response.user 40 %}</div>
                        <div class="details"><a href="{% url profiles.views.profile response.user.username %}">{{ response.user }}</a></div>
                        {{ response.date_submitted|date }}
                    </div>
                    <div class="bulk">
                        <div class="body">{{ response.comment|urlize|linebreaks }}</div>
                        {% ifequal user response.user %}
                        <form method="POST" action="{% url tc_comment_delete response.id %}">
                            <input type="submit" value="{% trans "Delete Post" %}" />
                            <input type="hidden" name="next" value="{% url details response.content_object.id %}" />
                        </form>
                        {% endifequal %}
                        <a href="javascript:toggle_comment_form({{ response.id }})">Reply to This Post</a>
                        <form class="hidden" method="POST" action="{% get_comment_url photo response %}" id="comment_form_{{ response.id }}">
                            <table><tr><td><textarea id="id_comment" rows="10" cols="40" name="comment"></textarea></td></tr>
                            <tr><td><input type="submit" value="{% trans "Post Response" %}" /></td></tr></table>
                            <input type="hidden" name="next" value="{{ request.path }}" />
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <form action="{% get_comment_url photo %}" method="POST">
            <table>
                <tr><td><textarea id="id_comment" rows="10" cols="40" name="comment"></textarea></td></tr>
                <tr><td><input type="submit" value="{% trans "Post Response" %}" /></td></tr>
            </table>
            <input type="hidden" name="next" value="{{ request.path }}" />
        </form>
        
    {% else %}
    <p>No photos were found.</p>
    {% endif %}
    
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        function toggle_comment_form(id){
            var cform = $('#comment_form_' + id);
            if(cform.hasClass('hidden')) {
                cform.prev().text("Stop Replying to This Post");
                cform.slideDown();
            }
            else {
                cform.prev().text("Reply to This Post");
                cform.slideUp();
            }
            cform.toggleClass('hidden');
        }
    </script>

{% endblock %}