{% extends "base.html" %}

{% load i18n %}
{% load openid_tags %}

{% block extra_head_base %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/site_tabs.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/comments.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/pagination.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/wiki.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}tasks/css/tasks.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/topics.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bookmarks/css/bookmarks.css" />
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block login %}
    {% if user.is_authenticated %}
        {% openid_icon openid user %}<b>{{ user }}</b> | <a href="{% url acct_email %}">{% trans "Account" %}</a> | {% if user.is_staff %}<a href="/admin/">{% trans "Admin" %}</a> | {% endif %}<a href="/openid/logout/?next={% url acct_logout %}">{% trans "Logout" %}</a>
    {% else %}
        <a href="{% url acct_login %}">{% trans "Login" %}</a>
    {% endif %}
{% endblock %}

{% block logo_link_image %}<a href="{% url home %}"><img src="{{ STATIC_URL }}pinax/images/logo.png" alt="Pinax"/></a>{% endblock %}

{% block right_tabs %}
    {% if user.is_authenticated %}
        <ul class="tabs">{% spaceless %}
            <li id="tab_profile"><a href="{% url profile_detail user %}">{% trans "Profile" %}</a></li>
            <li id="tab_topics"><a href="{% url topic_list %}">{% trans "Topics" %}</a></li>
            <li id="tab_tasks"><a href="{% url task_list %}">{% trans "Tasks" %}</a></li>
            <li id="tab_wiki"><a href="{% url wiki_index %}">{% trans "Wiki" %}</a></li>
            <li id="tab_bookmarks"><a href="{% url all_bookmarks %}">{% trans "Bookmarks" %}</a></li>
            <li id="tab_notices"><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
        {% endspaceless %}</ul>
    {% endif %}
{% endblock %}

{% block extra_body_base %}
    <script src="{{ STATIC_URL }}jquery-1.3.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}tasks/js/tasks.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}pinax/js/topics.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/comments.js" type="text/javascript"></script>
    {% block extra_body %}{% endblock %}
{% endblock %}

{% block footer %}
<div class="legal">All information on this site is Company Confidential unless otherwise specified.</div>
{% endblock %}
