{% extends "site_base.html" %}

{% load i18n %}

{% block rtab_id %}id="photos_tab"{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul>
            <li><a href="{% url photos %} ">{% trans "Latest Photos" %}</a></li>
            <li><a href="{% url photos_yours %}">{% trans "Your Photos" %}</a></li>
            <li><a href="{% url friends_photos %}">{% trans "Friends' Photos" %}</a></li>
            <li><a href="{% url photo_upload %}">{% trans "Upload a Photo" %}</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}