{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h4 class="headblue">{% trans "Account: change openid url" %}</h4>

<p>{% blocktrans %}This is where you can change your openid url used to connect to friendsnippets. Make sure you remember it!{% endblocktrans %}</p>
{% if form.errors %}
<p class="errors">{% trans "Please correct errors below:" %}<br />
	{% if form.openid_url.errors %} 
		<span class="error">{{ form.openid_url.errors|join:", " }}</span>
	{% endif %}


</p>
{% endif %}
{% if msg %}
	<p class="errors">{{ msg }}</p>
{% endif %}

<div class="aligned">
	<form action="." method="post" accept-charset="utf-8">

		{{ form.username }}
		<div id="form-row"><label for="id_openid_url">{% trans "OpenID url:" %}</label>{{ form.openid_url }}</div>
        <p><input type="submit" value="{% trans "Change openid" %}"></p>

	</form>
	</div>
{% endblock %}
