{% extends "base.html" %}
{% load i18n %}




{% block content %}
<h4 class="headblue">{% trans "Account: change email" %}</h4>

<p class="settings-descr">{% blocktrans %}This is where you can change the email address associated with your account. Please keep this email address up to date so we can send you a password-reset email if you request one.{% endblocktrans %}</p>
{% if form.errors %}
<p class="errors">{% trans "Please correct errors below:" %}<br />
	{% if form.email.errors %} 
		<span class="error">{{ form.email.errors|join:", " }}</span>
	{% endif %}
	{% if form.password.errors %} 
		<span class="error">{{ form.password.errors|join:", " }}</span>
	{% endif %}
</p>
{% endif %}

<div class="aligned">
	<form action="{{ path }}" method="post" accept-charset="utf-8">

		{{ form.username }}
		<div id="form-row"><label for="id_email">{% trans "Email" %}</label>{{ form.email }}</div>
		<div id="form-row"><label for="id_password">{% trans "Password" %}</label>{{ form.password }}</div>

        <p><input type="submit" value="{% trans "Change email" %}"></p>

	</form>
	</div>
{% endblock %}
