{% extends "base.html" %}
{% load i18n %}


{% block content %}
<h4 class="headblue">{% trans "Account: delete account" %}</h4>

<p class="settings-descr">{% blocktrans %}Note: After deleting your account, anyone will be able to register this username.{% endblocktrans %}</p>
{% if form.errors %}
<p class="errors">{% trans "Please correct errors below:" %}<br />
	{% if form.confirm.errors %} 
    <span class="error">{% trans "Check confirm box, if you want delete your account." %}</span><br />
	{% endif %}
	{% if form.password.errors %} 
    <span class="error">{% trans "Password:" %} {{ form.password.errors|join:", " }}</span>
	{% endif %}
</p>
{% endif %}
{% if msg %}
<p class="errors">{% trans "Please correct errors below:" %}<br />
    <span class="error">{{ msg }}</span>
    </p>
{% endif %}
<div class="aligned">
	<form action="." method="post" accept-charset="utf-8">

		{{ form.username }}
        <div id="form-row"> {{ form.confirm }} {% trans "I am sure I want to delete my account." %}</div>
        <div id="form-row"><label for="id_password">{% trans "Password/ OpenID URL" %}</label>{{ form.password }} {% trans "(required for your security)" %}</div>

        <p><input type="submit" value="{% trans "delete account forever" %}"></p>

	</form>
	</div>
{% endblock %}
