{% extends "base.html" %}
{% load i18n %}

{% block head %}
<style type="text/css" media="screen">
	dt, dd { padding:0 0 0.35em 0; }
	dt { float: left; width: 21ex;  }
	dd { margin-left: 23ex;  }
	
	#settings-options, #settings-intro { padding: 4em 1.5em;}
	#settings-options { min-height: 300px; border-left: 1px solid #333;}
	
	#settings-options h5 { font-weight: bold;}
</style>
{% endblock %}

{% block content %}
<div id="settings-intro">
	


    <h4><strong>{{ user.username }}</strong> {% trans "Settings" %}</h4>
    {% blocktrans %}
    <p>This is where you can make changes to your account.</p>

    {% endblocktrans %}
</div>

<div id="settings-options">
	{% if msg %}
		<p class="error">{{ msg }}</p>
	{% endif %}
    <h5>{% trans "Account" %}</h5>
	<dl>
        <dt>» <a href="{{ settings_path }}{% trans "password/" %}">{% trans "change password" %}</a></dt>
        <dd>{% trans "Give your  account a new password." %}</dd>
        <dt>» <a href="{{ settings_path }}{% trans "email/" %}">{% trans "change email" %}</a></dt>
        <dd>{% trans "Add or update the email address associated with your account." %}</dd>
        {% if is_openid %}
        <dt>» <a href="{{ settings_path }}{% trans "openid/" %}">{% trans "change openid url" %}</a></dt>
        <dd>{% trans "Change openid associated to your account" %}</dd>
        {% endif %}
        
        <dt>» <a href="{{ settings_path }}{% trans "delete/" %}">{% trans "delete account" %}</a></dt>
        <dd>{% trans "Erase your username and all your data from website" %}</dd>
	</dl>
</div>
{% endblock %}
