{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="jointxt">
    {% blocktrans %}
    <h1>Join</h1>
    <p>There are two ways to join: with an email + screen name, or with OpenID.<br />Enter information only for the type of sign up you want to do.</p>
    {% endblocktrans %}
	<br />
	<br />
    <h2 class="signup">{% trans "Regular Signup" %}</h2>
    {% if form.errors %}
    <p class="errors">{% trans "Please correct errors below:" %}<br />
    {% if form.username.errors %} 
    <span class="error">{{ form.username.errors|join:", " }}</span>
    {% endif %}
    {% if form.email.errors %} 
    <span class="error">{{ form.email.errors|join:", " }}</span>
    {% endif %}
    {% if form.password2.errors %} 
    <span class="error">{{ form.password2.errors|join:", " }}</span>
    {% endif %}
    </p>
    {% endif %}
</div>
    <form action="{{ action }}" method="post" accept-charset="utf-8">	
        <div class="form-row"><label for="id_username">{% trans "Choose a Screen Name:" %}</label><br />{{ form.username }}</div>

        <div class="form-row"><label for="id_email">{% trans "Enter Your Email Address:" %}</label><br />{{ form.email }}</div>
        <div class="form-row"><label for="id_password1">{% trans "Choose a Password:" %}</label><br />{{ form.password1 }}</div>
        <div class="form-row"><label for="id_password2">{% trans "Confirm Your Password:" %}</label><br />{{ form.password2 }}</div>

        <div class="submit-row"><input type="submit" value="{% trans "JOIN FREE" %}" /></div>
        <br />
    </form>
<br />
    <h2 class="signup">{% trans "OpenID Signup" %}</h2>
    <form name="fopenid" action="{{ action_signin }}" method="post">
        <div class="form-row">{{ form2.openid_url }}</div>
        <div class="submit-row "><input name="bsignin" type="submit" value="{% trans "Sign in with OPENID" %}"></div>
    </form>
{% endblock %}
