{% extends "base.html" %}
{% load i18n %}

{% block head %}


{% endblock %}


{% block content %}
{% if msg %}
<br />
	<p class="warning">{{ msg }}</p>
{% endif %}
{% if form1.errors %}
<p class="errors">{% trans "Please correct errors below:" %}<br />
	{% if form1.username.errors %} 
		<span class="error">{{ form1.username.errors|join:", " }}</span>
	{% endif %}
	{% if form1.password.errors %} 
		<span class="error">{{ form1.password.errors|join:", " }}</span>
	{% endif %}
</p>
{% endif %}
<div class="login">

    <form name="fauth" action="{{ action }}" method="post">
        {{ form1.next }}
	<fieldset>
		<legend>{% trans "Sign In Using Your Account ID" %}</legend>
		<div class="form-row"><label for="id_username">{% trans "Username:" %}</label><br />{{ form1.username }}</div>
		<div class="form-row"><label for="id_password">{% trans "Password" %}</label><br />{{ form1.password }}</div>
        <div class="submit-row"><input type="submit" name="blogin" value="{% trans "Sign in" %}"> </div>
        <div>&nbsp;&nbsp;<a href="{{ sendpw_url }}">{% trans "Lost your password ?" %}</a></div>
	</fieldset>	
</form>

<br />
<form name="fopenid" action="{{ action }}" method="post">
    {{ form2.next }}
	<fieldset>
		<legend>{% trans "Sign In Using Your OpenID" %}</legend>
        <div class="form-row"><label for="id_openid_ul">{% trans "OpenId URL :" %}</label><br />{{ form2.openid_url }}</div>
        <div class="submit-row "><input name="bsignin" type="submit" value="{% trans "Sign in with OPENID" %}"></div>
		
	</fieldset>
</form>	
</div>	
{% endblock %}

