{% extends "account/base.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block body %}

    <h1>{% trans "Password Reset" %}</h1>
{{ current_site }}-    
    {% if user.is_authenticated %}
        <p><span class="warning">{% trans "Note" %}</span>: {% blocktrans %}you are already logged in as {{ user }}.{% endblocktrans %}</p>
    {% endif %}
    
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll reset your password and e-mail the new one to you." %}</p>
    
    <form method="POST" action="" class="uniForm">
        <fieldset class="inlineLabels">
            {{ password_reset_form|as_uni_form }}
             <div class = "form_block">
                 <input type="submit" value="{% trans "Reset my password" %}" />
            </div>
        </fieldset>
    </form>
    
    <p>{% blocktrans %}If you have any trouble resetting your password, contact us at <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.{% endblocktrans %}</p>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
