{% extends "account/base.html" %}

{% load i18n %}
{% load uni_form %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block body %}
    <h1>{% trans "Change Password" %}</h1>
    
    {{ initial }}
    
    {% if form %}
        <form method="POST" action="" class="uniForm">
            <fieldset class="inlineLabels">
                {{ form|as_uni_form }}
                 <div class = "form_block">
                     <input type="submit" name="action" value="{% trans "change password" %}"/>
                </div>
            </fieldset>
        </form>
    {% else %}
        Your password is now changed.
    {% endif %}
{% endblock %}