{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}

<p>We are currently in active development. If you would like to receive a beta code for this please give us your e-mail address below</p>

<form method="POST" action="">
    {{ form.as_p }}
    <input type="submit" value="Sign up" />
</form>

<p>- or -</p>

<p>You can use a sign-up code to sign-up with the site right now.</p>

<form method="GET" action="{% url acct_signup %}">
    <input type="text" name="code" />
    <input type="submit" value="Sign up" />
</form>

{% endblock %}
