/* SITE-SPECIFIC TAB STYLING */

/* Active tabs */
#home_tab a.tab_home,
#products_tab a.tab_products,
#support_tab a.tab_support,
#about_us_tab a.tab_about_us
{
    background-color: #999;
    border-color: #888;
    color: #FFF;
}
