{% extends "contacts/base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load account_tags %}

{% block head_title %}Contacts{% endblock %}

{% block body %}
    <h1>Contacts</h1>
    
    {% with user.contacts.all as contacts %}
        
        {% autopaginate contacts %}
        
        {% if contacts %}
            <table class="contact_list">
                {% for contact in contacts %}
                    <tr>
                        <td>{% if contact.name %}{{ contact.name }}{% else %}?{% endif %}</td>
                        <td>{{ contact.email }}</td>
                        <td>
                            {% if contact.user %}
                                <a href="{% url profile_detail contact.user %}">{% user_display contact.user %}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            
            {% paginate %}
            
        {% else %}
            <p>{% trans "No contacts." %}</p>
        {% endif %}
    {% endwith %}
{% endblock %}
