/* SITE-SPECIFIC TAB STYLING */

#home_tab .tab_home,
#profile_tab .rtab_profile,
#notices_tab .rtab_notices
{
    bottom: -1px !important;
    padding-bottom: 0 !important;
}
#home_tab .tab_home a,
#profile_tab .rtab_profile a,
#notices_tab .rtab_notices a
{
    color: #000 !important; /* selected tab text colour */
}
#home_tab .tab_home div,
#profile_tab .rtab_profile div,
#notices_tab .rtab_notices div
{
    margin: 0;
    background-color: #DEF !important; /* selected tab colour */
    border-left: 1px solid #000 !important; /* tab border */
    border-top: 1px solid #000 !important; /* tab border */
    border-right: 1px solid #000 !important; /* tab border */
    padding-bottom: 5px; /* 1px more than unselected padding-bottom */
}
