--find-links=http://pypi.pinaxproject.com
--find-links=http://pypi2.pinaxproject.com

python-dateutil==1.4.1
python-openid==2.2.4
python-yadis==1.1.0
simplejson==2.0.9
pytz==2009l


django-notification==0.1.4
django-openid==0.2.0
django-email-confirmation==0.1.3
django-mailer==0.1.0
django-announcements==0.1.0
django-pagination==1.0.5.1
django-timezones==0.1.4
django-ajax-validation==0.1.3
django-uni-form==0.6.0
template_utils==0.4p2
django-staticfiles==0.1.2
