html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #333;
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, sans-serif;
  font-size: 100%;
  margin: 10px;
  padding: 0;
}

a:link, a:visited { 
  background-color: transparent;
  color: #333;
  text-decoration: none !important;
  border-bottom: 1px dotted #333 !important;
  text-decoration: underline;
  border-bottom: 0;
}

a:hover {
  background-color: transparent;
  color: #993344;
  text-decoration: none !important;
  text-decoration: underline;
  border-bottom: 1px dotted #993344 !important;
  border-bottom: 0;
}

h1 {
  margin: 8px 0 0 0;
  padding: 0;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  font-family: "Book Antiqua", Georgia, Palatino, Times, "Times New Roman", serif;
}

h1 a:link, h1 a:visited, h1 a:hover {
  background-color: transparent ! important;
  color: #333 ! important;
  text-decoration: none ! important;
  border-bottom: 0px ! important;
}

#intro { 
  width: 730px;
 }

#intro ul {
  margin-left: 0;
  padding-left: 0;
  display: inline;
}

#intro ul li {
  display: inline;
  font-size: small;
}

#intro ul li.li1 {
}

#intro p {
  font-size: small;
  font-weight: normal;
  margin: 1.2em 0 0 0;
  padding: 0;
}

.z {
  float:left;
  background: url(/img/shadowAlpha.png) no-repeat bottom right !important;
  background: url(/img/shadow.gif) no-repeat bottom right;
  margin: 15px 0 0 10px !important;
  margin: 15px 0 0 5px;
}

.z .sectionInner {
  background: none !important;
  background: url(/img/shadow2.gif) no-repeat left top;
  padding: 0 !important;
  padding: 0 6px 6px 0;
  }

.z .sectionInner .sectionInner2 {
  background-color: #fff;
  border: 1px solid #a9a9a9;
  padding: 4px;
  margin: -6px 6px 6px -6px !important;
  margin: 0;
}

.s { 
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

#main {
  clear: left;
  margin-left: 11px;
  margin-bottom: 2em;
  font-size: small;
}

#mainInner { 
  margin-left: 1em;
  margin-bottom: 2em;
  padding-top: 1em;
}

.example, .section {
  line-height: 150%;
}

#breadcrumb {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0;
  line-height: 140%;
  font-size: small;
}

#breadcrumb #thispage {
  font-weight: bold;
}

/* ----- Python code syntax coloring ----- */
.computeroutput, .traceback, .pykeyword, .pystring, .pycomment, .pyfunction, .pyclass {
  background-color: white;
}

.pykeyword, .pyfunction, .pyclass {
  font-weight: bold;
}

.computeroutput {
  color: teal;
}

.traceback {
  color: red;
}

.pykeyword {
  color: navy;
}

.pystring {
  color: olive;
}

.pycomment {
  color: green;
  font-style: italic;
}

.pyfunction {
  color: teal;
}

.pyclass {
  color: blue;
}

/* ----- standard stuff ----- */
.skip {
  display: none;
}

samp, code, tt, pre  {
  font-weight: normal;
  font-family: monospace;
  font-size: small;
}

img {
  border: 0;
}

acronym, abbr {
/*  border-bottom: 1px dotted #333;*/
  border-bottom: 0;
  font-style: normal;
  cursor: help;
}

hr {
  margin-top: 2em !important;
  margin-top: 1em;
  height: 1px;
  background-color: #cecbc6;
  color: #cecbc6;
}

#footer {
  font-size: x-small;
}

body.docs .example {
  border-left: 4px double #ddd !important;
  border-left: 1px solid #ccc;
  margin-left: 2em;
  padding-left: 2em;
}

body.docs .example h3 {
  font-size: 100%;
}

body.docs .example a.skip:link,
body.docs .example a.skip:visited,
body.docs .example a.skip:hover,
body.docs .section h3.title a.skip:link,
body.docs .section h3.title a.skip:visited,
body.docs .section h3.title a.skip:hover {
  display: block;
  float: left;
  vertical-align: bottom;
  text-decoration: none;
  border-bottom: 0 ! important;
  margin-right: 6px;
}

.reference-from h3,
.seealso h3,
.furtherreading h3 {
  margin-top: -1.2em;
  margin-left: -15px;
  font-size: small;
  width: 8em;
  border: 1px solid #a9a9a9;
  padding: 3px 3px 3px 13px;
  background: white;
  position: relative;
}

.reference-from, .seealso, .furtherreading {
  width: 680px;
  margin-top: 3em;
  margin-bottom: 3em;
  border: 1px solid #a9a9a9;
}

table.tip, table.note, table.warning, table.caution, table.important {
  margin-bottom: 1em;
}

.table h3 {
  display: none;
}

.table table td {
  padding: 5px 1em 5px 1em;
}
