{% extends "zwitschern/base.html" %}

{% load i18n %}

{% block head_title %}Pinax : {% blocktrans %}Tweets{% endblocktrans %}{% endblock %}

{% block body %}
<h1>{% trans "Tweets" %}</h1>

<form method="POST" action="">
    <p>What are you doing?</p>
    <textarea id="new_tweet" name="tweet" cols="30" rows="4"></textarea>
    <p><span id="chars_left"></span> chars left. <input type="submit" name="action" value="{% trans "post" %}" /></p>
    
</form>

<p>These are tweets from the {{ user.followed.count }} {{ user.followed.count|pluralize:"person,people" }} you are following (plus your own):</p>

{% for tweet in tweets %}
<div class="tweet">
<a href="{% url profiles.views.profile tweet.sender %}"><b>{{ tweet.sender }}</b></a>
{{ tweet.html|safe }}
<span class="timesince">{{ tweet.sent|timesince }} ago</span>
</div>
{% endfor %}

{% endblock %}

{% block extra_body %}

<script>
    $(document).ready(function() {
        function update_chars_left() {
            var max_len = 140;
            var textarea = $('#new_tweet')[0];
            var tweet_len = textarea.value.length;
            if (tweet_len >= max_len) {
                textarea.value = textarea.value.substring(0, max_len); // truncate
                $('#chars_left').html("0");
            } else {
                $('#chars_left').html(max_len - tweet_len);
            }
        }
        $('#new_tweet').keyup(function() {
            update_chars_left();
        });
        update_chars_left();
    });
</script>

{% endblock %}