{% extends "zwitschern/base.html" %}

{% load i18n %}
{% load oembed_tags %}
{% load pagination_tags %}

{% block head_title %}Pinax : {% blocktrans %}Public Tweets{% endblocktrans %}{% endblock %}

{% block extra_head %}
<link rel="alternate" type="application/atom+xml" title="Tweets Feed" href="/feeds/tweets/" />
{% endblock %}

{% block body %}
<h1>{% trans "All Tweets" %}</h1>

<p>These are tweets from everyone:</p>

{% oembed %}
{% autopaginate %}
{% for tweet in tweets %}
<div class="tweet" id="t{{ tweet.id }}">
<a href="{% url profiles.views.profile tweet.sender %}"><b>{{ tweet.sender }}</b></a>
{{ tweet.html|safe }}
<span class="timesince">{{ tweet.sent|timesince }} ago</span>
<a class="reply" href="{% url zwitschern.views.personal %}?reply={{ tweet.sender }}">reply</a>
</div>
{% endfor %}
{% endoembed %}
{% paginate %}

{% endblock %}
