table.calendar {
	border-collapse: separate;
	border-spacing: 2px
}

.dateheader {
	height: 30px;
	text-align: center
}

.daysofweek {
	height: 20px;
	text-align: center
}

table.calendar td {
	margin: 2px;
	padding: 1px
	width: 120px;
	height: 52px
}

table.calendar td.daynumber {
	font-size: 8pt;
	vertical-align: top
}

table.calendar td.noday {
	background-color: #eef
}

table.calendar td.free {
	background-color: #c5dbff
}

table.calendar td.busy {
	background-color: #ffcece
}

table.calendar td.compact {
	width: 28px;
	height: 20px;
	text-align: center
}

