/* AVATAR */

#avatar_replace {
    position: absolute;
    margin-top: -23px;
    background-color: #FFFFFF;
    padding: 3px;
    display: none;
}
ul.avatar_choices,ul.avatar_choices ul {
    margin-left: 0px;
    padding-left: 0px;
}
ul.avatar_choices li {
    display: inline;
    list-style-type: none;
}
