/* BLOGS */

.blog-post h2 {
    margin: 10px 0 0 0;
    font-style: italic;
}
.blog-post-tease {
    width: 500px;
    float: left;
}
.blog-post-meta {
    width: 200px;
    float: left;
    margin-left: 30px;
}
.blog-post-meta img {
    border: 1px solid #666;
}
.blog-list tr.odd {
    background-color: #f3f3f3;
}
.blog-list td {
    vertical-align: top;
    padding: 3px 3px 15px 3px;
}
.blog-list td p {
    padding: 0;
    margin: 0;
}

.blog-post-meta img.noborder {
    border: 0;
}
