/* @@@ this has some overlap with topics.css and needs review */

.responses .even, .topics .even {
    background-color: #FAFAFA;
}
.responses .odd, .topics .odd {
    background-color: #F3F3F3;
}
.responses {
    margin-left: 0px;
    padding-left: 0px;
}
.responses li {
    list-style-type: none;
}
div.meta {
    float: left;
    width: 100px;
    margin: 4px;
    padding: 4px;
}
div.bulk {
    margin-left: 120px;
    padding: 4px;
}
.hidden { display: none; }
.thread-0 { margin-left: 0px; }
.thread-1 { margin-left: 20px; }
.thread-2 { margin-left: 40px; }
.thread-3 { margin-left: 60px; }
.thread-4 { margin-left: 80px; }
.thread-5 { margin-left: 100px; }
.thread-6 { margin-left: 120px; }
.thread-7 { margin-left: 140px; }
.thread-8 { margin-left: 160px; }
