/* FRIENDS/INVITATIONS */

table.invitation_list {
    width: 500px;
}
table.invitation_list td {
    padding: 5px 10px;
}
table.contact_list {
    width: 500px;
}
table.contact_list td {
    padding: 5px 10px;
}
.friendship_request {
    padding: 5px;
    background: #DEF;
    border: 1px solid #9BC;
}
.friendship_request p {
    padding: 0;
    margin: 0;
}
.friendship_request form {
    padding: 0;
    margin: 0;
}
.friendship_request p.invitation_message {
    font-size: 12pt;
    margin: 5px;
}
h2.join_date, h2.creation_date {
    font-size: 12pt;
    color: #666;
    border-bottom: 1px solid #999;
}
.invitation_5, .invitation_7 {
    color: green;
    font-weight: bold;
}
.invitation_2 {
    color: gray;
}


/* FRIENDS */

div.friends {
    background: #DEF;
    padding: 8px;
    margin-bottom: 20px;
}
div.friends h2 {
    margin: 0 0 5px 0;
    padding: 0;
}
div.friends .avatar {
    padding: 0;
    text-align: center;
}
div.friends .details {
    text-align: center;
    overflow: hidden;
    width: 60px;
    margin: 0 0 12px 0;
}
