/* GROUPS */

div.groups {
    background: #DEF;
    padding: 8px;
    margin-bottom: 20px;
}
div.groups h2 {
    margin: 0 0 5px 0;
    padding: 0;
}
div.members {
    background: #DEF;
    padding: 8px;
    margin-bottom: 20px;
}
div.members h2 {
    margin: 0 0 5px 0;
    padding: 0;
}
div.members .avatar {
    padding: 0;
    text-align: center;
}
div.members .details {
    text-align: center;
    overflow: hidden;
    width: 60px;
    margin: 0 0 12px 0;
}

.stats {
    color: #999;
    border-top: 1px solid #CCC;
    font-size: 90%;
}
