/* MESSAGES */

table.messages {
    width: 100%;
}

table.messages tbody tr {
    border-bottom: 1px solid #ccc;
}

table.messages tr th, table.messages tr td {
    text-align: left;
    padding: 5px;
}

table.messages tr th {
    font-weight:bold;
    border-bottom: 1px solid #999;
}
dl.message-headers {
    border-top:1px solid #CCC;
    border-bottom:1px solid #CCC;
    padding: 5px 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

dl.message-headers dt {
    width: 70px;
    text-align: right;
    float: left;
    padding-right: 10px;
    font-weight: bold;
    color: #444;
}
dl.message-header dd {
    float: left;
}
