/* TWEETS */

div.tweet {
    width: 500px;
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #CCC;
    font-size: 12pt;
}
div.tweet .timesince {
    color: #999;
    font-size: 80%;
}
span#chars_left {
    font-size: 16pt;
}
div.tweet .reply {
    font-size: 80%;
}
