/* @@@ this partly takes over the whole page so should be reviewed */


/* LAYOUT */

div.left_panel {
    float: left;
    width: 80%;
}

div.right_panel {
    float: right;
    width: 18%;
}

div.right_panel h2 {
    margin-top: 0;
}

#body {
    width: 95%;
}

textarea#id_content {
    font-family: monospace;
    font-size: 0.9em;
    line-height: 1.1em;
    height: 25em;
    width: 99%;
}

div.hint {
    background-color: #FFF7E8;
    color: black;
    padding: 1em;
}

div.success {
    background-color: #A8DEAD;
    padding: 1em;
}

div.hint p {
    margin: 0;
}
h2.ui-accordion-header {
    cursor: pointer;
}


/* SNIPPET */

pre.code {
    font-family: "Bitstream Vera Sans Mono", Monaco, Consolas, monospace;
    font-size: 12px;
    line-height: 17px;
    margin: 0;
    padding: 0;
}

pre.code div.line:hover {
    background-color: #FFFFE6;
}

pre.code div.line.marked,
pre.code div.line.marked *
{
    background-color: #BAE688 !important;
}


div.tree {
    margin: 0 0 15px 0;
    line-height: 1.8em;
}

div.tree ul,
div.tree ul li
{
    margin: 0;
    padding: 0;
    list-style: none;
}

div.tree ul li {
    clear: both;
}

div.tree ul li div {
    border-bottom: 1px solid #EEE;
}

div.tree span.diff {
    float: right;
}

div.tree strong {
    color: #111;
    font-weight: normal;
}

div.tree ul li li {
    padding-left: 0;
    margin-left: 15px;
    color: #ccc;
    list-style: circle;
}

div.tree div.submit {
    margin: 8px 0 0 0;
    text-align: right;
}

div.tree div.submit input {
    font-size: 0.8em;
}

div.snippet {
    overflow: auto;
}

div.snippet-options {
    float: right;
    font-size: 0.9em;
    margin-top: 5px;
}

div.snippet table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

div.snippet table td {
    margin: 0;
    padding: 0 4px;
    vertical-align: top;
}

div.snippet table th {
    vertical-align: top;
    font-weight: normal;
}

div.snippet table th a {
    display: block;
    text-decoration: none;
    color: #888;
    text-align: right;
    padding: 0 4px 0 10px;
}
