table.article-history .even {
    background-color: #EEE;
}
table.article-history .odd {
    background-color: #DDD;
}

table.article-history td {
    vertical-align: top;
    padding: 5px 20px 5px 5px;
}

table.article-history {
    width: 100%;
}

table.article-history th {
    background: #1B1C1E;
    text-align: left;
    color: #FFF;
    padding: 5px 20px 5px 5px;
}
