{% extends "tribes/base.html" %}

{% load i18n %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load tribe_tags %}

{% block head_title %}{% blocktrans %}Tribes{% endblocktrans %}{% endblock %}

{% block body %}
    <h1>{% trans "Tribes" %}</h1>
    
    <p>{% trans "A <b>tribe</b> is a group of people with some common interest." %}</p>
    
    {% if user.is_authenticated %}
        <p><a href="#" onclick="$('#tribe_form').toggle(); return false;">{% trans "Start your own tribe" %}</a></p>
        
        <form id="tribe_form" method="POST" action="" style="display: none;">
            <table>
                {{ tribe_form }}
                <tr><td></td><td><input type="hidden" name="action" value="create" /><input type="submit" value="{% trans 'create' %}"/></td></tr>
            </table>
        </form>
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to create your own tribe or join an existing one.{% endblocktrans %}</p>
    {% endif %}
    
    {% if tribes %}
        
        <p>Order by:
            {% ifequal order_by "size" %}
                <a href="?order_by=name">name</a>
                or
                <b>size</b>
                or
                <a href="?order_by=date">date created</a>
                
                {% order tribes by members %}
                {% autopaginate tribes 10 %}
            {% else %}
                {% ifequal order_by "date" %}
                    <a href="?order_by=name">name</a>
                    or
                    <a href="?order_by=size">size</a>
                    or
                    <b>date created</b>
                    
                    {% order tribes by -created %}
                    {% autopaginate tribes 10 %}
                {% else %}
                    <b>name</b>
                    or
                    <a href="?order_by=size">size</a>
                    or
                    <a href="?order_by=date">date created</a>
                    
                    {% order tribes by name %}
                    {% autopaginate tribes 10 %}
                {% endifequal %}
            {% endifequal %}
        </p>
        
        <dl>
        {% for tribe in tribes %}
            {% show_tribe tribe %}
        {% endfor %}
        </dl>
        
        {% paginate %}
        
    {% endif %}
    
{% endblock %}

{% block extra_body %}
    <script>
        {% if tribe_form.errors %}
            $('#tribe_form').show();
        {% endif %}
    </script>
{% endblock %}