{% extends "tribes/base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load tagging_tags %}

{% block head_title %}{% trans "Your Tribes" %}{% endblock %}

{% block body %}
    <p><span class="warning">{% trans "Note" %}</span>: {% blocktrans %}this is an <b>experimental</b> feature that is subject to massive change at any time.{% endblocktrans%}</p>
    
    <h1>{% trans "Your Tribes" %}</h1>
    
    <p>{% trans "These are the tribes you participate in." %}</p>
        
    {% autopaginate tribes %}
    
    <dl>
        {% for tribe in tribes %}
            <dt>{{ tribe.name }} (<a href="{% url tribes.views.tribe tribe.slug %}">{{ tribe.slug }}</a>)</dt>
            <dd>{{ tribe.description }}
                <br />
                <img src="/site_media/tags.png" border="0" class="noborder" align="absmiddle" />
                {% tags_for_object tribe as tags %}
                {% for tag in tags %}
                    <a href="/tags/{{ tag }}">{{ tag }}</a>
                {% endfor %}
            </dd>
        {% endfor %}
    </dl>
    
    {% paginate %}
    
{% endblock %}
