{% extends "projects/base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load project_tags %}

{% block head_title %}{% trans "Your Projects" %}{% endblock %}

{% block body %}
    <p><span class="warning">{% trans "Note" %}</span>: {% blocktrans %}this is an <b>experimental</b> feature that is subject to massive change at any time.{% endblocktrans%}</p>
    
    <h1>{% trans "Your Projects" %}</h1>
    
    <p>{% trans "These are the projects you participate in." %}</p>
        
    {% autopaginate projects %}
    
    <dl>
        {% for project in projects %}
            {% show_project project %}
        {% endfor %}
    </dl>
    
    {% paginate %}
    
{% endblock %}
