{% load i18n %}
{% load captureas_tag %}
{% load gravatar %}
{% load tagging_tags %}

<div class="photo-right-profile clearfix">
    <div class="photo-avatar">{% gravatar photo.member.username 50 %}</div>
    <div class="photo-profile-details">
        <h2>Taken By</h2>
        <a href="{% url profiles.views.profile photo.member.username %}" title="{{ photo.member.username }}">{{ photo.member.username }}</a><br />
        {{ photo.date_taken|date }}<br />
        Viewed {{ photo.view_count }} times
    
    </div>
</div>

<div class="photo-right-tools">
    {% if photo.tags %}
        <h2><img src="/site_media/tags.png" border="0" class="noborder" align="absmiddle" /> Tags</h2> 
        <ul>
            {% tags_for_object photo as tags %}
            {% for tag in tags %}
                <li><a href="/tags/{{ tag }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>

        <div class="embed">
        <a href="#" onclick="$('#embed-code').toggle(); return false;">{% trans "Get Embed Code" %}</a>
             <div id="embed-code" style="display: none;">
                <textarea>
                    <a href="{{ host }}/photos/details/{{ photo.id }}"><img src="{{ host }}/{{ photo.get_display_url }}" alt="{{ photo.title }}"/></a>
                </textarea>
            </div>
        </div>

    {% endif %}
    
    {% if is_me %}
        <form action="{% url photo_destroy photo.id %}" method="POST">
            <label>Delete Photo</label> <input type="image" src="/site_media/delete.png" border="0" title="{% trans "Delete Photo" %}" />
                        <input type="hidden" name="action" value="delete"/>
        </form>
    {% endif %}

</div>

<div class="photo-right-exif">

</div>
{% if is_me %}
<div class="photo-right-profile ">
    {% if projects %}
    <h2>Add photo to project</h2>
        {% for project in projects %}
            <form action="{% url details photo.id %}" method="POST">
                <input type="hidden" name="action" value="add_to_project"/>
                <input type="hidden" name="project" value="{{ project.id }}"/>
                <input type="submit" value="add"/>
                <a href="{% url projects.views.project project.slug %}">{{ project.name }}</a>
            </form>
        {% endfor %}
    {% endif %}

    {% if tribes %}
        <h2>Add photo to tribe</h2>
        {% for tribe in tribes %}
            <form action="{% url details photo.id %}" method="POST">
                <input type="hidden" name="action" value="add_to_tribe"/>
                <input type="hidden" name="tribe" value="{{ tribe.id }}"/>
                <input type="submit" value="add"/>
                <a href="{% url tribes.views.tribe tribe.slug %}">{{ tribe.name }}</a>
            </form>
        {% endfor %}
    {% endif %}

</div>
{% endif %}