Redirect /docs/examples/temporary.xml http://feedparser.org/docs/examples/atom.xml
Redirect permanent /docs/examples/permanent.xml http://feedparser.org/docs/examples/atom.xml
Redirect gone /docs/examples/gone.xml

<Files "basic_auth.xml">
  AuthUserFile /home/mark/web/feedparser.org/docs/examples/.htpasswd_basic
  AuthName "BasicTest"
  AuthType Basic
  order deny,allow
  allow from all
  require valid-user
</Files>

<Files "digest_auth.xml">
  AuthDigestFile /home/mark/web/feedparser.org/docs/examples/.htpasswd_digest
  AuthName "DigestTest"
  AuthType Digest
  order deny,allow
  allow from all
  require valid-user
</Files>

<Files "http_base.xml">
  Header set Content-Location http://example.org/
</Files>