{% extends "wiki/base.html" %}

{% load i18n %}

{% block head_title %}Pinax : Wiki for {{ group.name }} {% endblock %}

{% block body %}
    <h1>{% trans "Wiki for Tribe" %} <a href="{% url tribe_detail group.slug %}">{{ group.name }}</a></h1>
    <h2>{% trans "Edit Article" %} {{ article.title }}</h2>

    <form action="" method="post">
        <table>
            {{ form }}
            <tr><td></td><td><input type="submit" value="{% trans "Save Article" %}" /></td></tr>
        </table>
    </form>
{% endblock %}
