{% extends "wiki/base.html" %}

{% load i18n %}

{% block head_title %}Pinax : {{ article.title }} {% endblock %}
+
{% block body %}
    <h1>{% trans "Wiki for Tribe" %} <a href="{% url tribe_detail group.slug %}">{{ group.name }}</a></h1>
    <h2>{% trans "History for article" %} <a href="{{ article.get_absolute_url }}"> {{ article.title }} </a></h2>

    {% if changes %}
    <table>
        <tr class="tbheader">
            <th>{% trans "At" %}</th>
            <th>{% trans "User" %}</th>
            <th>{% trans "Comment" %}</th>
            <th>{% trans "Revert" %}</th>
        </tr>
        {% for change in changes %}
        <tr class="{% cycle 'tbodd' 'tbeven' %}">
            <td><a href="{% url wiki_changeset group_slug=group.slug,title=article.title,revision=change.revision %}">
                {{ change.modified|date:"M d, Y" }}</a></td>
            <td>
                {% if change.is_anonymous_change %}
                {{ change.editor_ip }}
                {% else %}
                {{ change.editor }}
                {% endif %}
            </td>
            <td>
                {% if change.comment %}<i>'{{ change.comment}}'</i> {% endif %}
            </td>
            <td>
                {% ifequal forloop.counter 1 %}
                <form action="{% url wiki_revert_revision title=article.title,group_slug=group.slug %}" method="POST">
                    <input name="revision" type="hidden" value="{{ change.revision }}">
                    <input name="revert" type="submit" value="{% trans "Revert Last Change" %}">
                </form>
                {% endifequal %}
            </td>
            {% endfor %}
        </tr>
    </table>

    <a href="{% url wiki_article_history article.title,next %}">{% trans "Next" %}</a>
    {% else %}
    <p> {% trans "No changes in this article" %}</p>
    {% endif %}

{% endblock %}
