{% extends "wiki/base.html" %}

{% load timezone_filters %}
{% load i18n %}

{% block head_title %}Pinax : {{ article.title }} {% endblock %}

{% block body %}
    <h1>{% trans "Wiki for Tribe" %} <a href="{% url tribe_detail group.slug %}">{{ group.name }}</a></h1>

    <h2>{% trans "History for article" %} <a href="{{ article.get_absolute_url }}"> {{ article.title }} </a></h2>

    {% if changes %}
         <form method="post" action="{% url wiki_revert_to_revision title=article.title,group_slug=group.slug %}">
            <table class="messages">
                <tr class="tbheader">
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Editor" %}</th>
                    <th>{% trans "Comment" %}</th>
                    <th>{% trans "Revert to..." %}</th>
                </tr>
                {% for change in changes %}
                    <tr>
                        <td>
                            <a href="{% url wiki_changeset group_slug=group.slug,title=article.title,revision=change.revision %}">
                            {{ change.modified|localtime:user.get_profile.timezone|date:_("DATETIME_FORMAT") }}</a>
                        </td>
                        <td>
                            {% if change.is_anonymous_change %}
                                {{ change.editor_ip }}
                            {% else %}
                                <a href="{% url profiles.views.profile change.editor.username %}">{{ change.editor }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if change.comment %}<i>'{{ change.comment}}'</i> {% endif %}
                        </td>
                        <td>
                            {% if forloop.first %}
                                {% trans "Current Revision" %}
                            {% else %}
                                <input name="revision" type="radio"
                                       value="{{ change.revision }}">
                            {% endif %}
                        </td>
                    </tr>
             {% endfor %}
           </table>
           <input type="submit" value="{% trans "Revert" %}">
         </form>
    {% else %}
        <p>{% trans "No changes in this article" %}</p>
    {% endif %}

{% endblock %}
