{% extends "wiki/base.html" %}

{% load i18n %}
{% load wiki %}
{% load markup %}
{% load switchcase %}
{% load restructuredtext %}

{% block head_title %}Pinax : Wiki for {{ group.name }} {% endblock %}

{% block body %}

    <div class="right_panel">
        <div class="tribes">
            <h2>{% trans "Actions" %}</h2>
            {% if article.id %}
            <li><a href="{% url wiki_edit_article title=article.title,group_slug=group.slug %}">{% trans "Edit this article" %}</a> </li>
            <li><a href="{% url wiki_article_history title=article.title,group_slug=group.slug %}">{% trans "Editing history" %}</a> </li>
            {% else %}
            <li><a href="{% url wiki_edit_article title=article.title,group_slug=group.slug %}">{% trans "Create this article" %}</a></li>
            {% endif %}
        </div>
    </div>

    <h1>{% trans "Wiki for Tribe" %} <a href="{% url tribe_detail group.slug %}">{{ group.name }}</a></h1>

    <h2><a href="{{ article.get_absolute_url }}" rel="bookmark">{{ article.title }}</a></h2>

    {% if not article.id %}
        <p>
            {% trans "This article does not exist." %}
            <a href="{% url wiki_edit_article title=article.title,group_slug=group.slug %}" {% trans ">Create it now</a>?" %}
        </p>
    {% endif %}

    {# Yes, the following mess is necessary #}
    {% with article.content as content %}
        {% switch article.markup %}
            {% case 'rst' %} {{ content|restructuredtext|wikiwords|safe }} {% endcase %}
            {% case 'mrk' %} {{ content|force_escape|markdown|wikiwords }} {% endcase %}
            {% case 'txl' %} {{ content|force_escape|textile|wikiwords }} {% endcase %}
            {% case '' %} {{ content|force_escape|wikiwords|linebreaks|safe }} {% endcase %}
        {% endswitch %}
    {% endwith %}

{% endblock %}
