{% extends "projects/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load project_tags %}

{% block head_title %}Topics for {{ project.name }}{% endblock %}

{% block body %}
    <h1>{% trans "Discussion Topics for Project" %} <a href="{% url project_detail project.slug %}">{{ project.name }}</a></h1>
    
    {% autopaginate project.topics.all %}
    
    {% for topic in project.topics.all %}
        {% show_project_topic topic %}
    {% endfor %}
    
    {% paginate %}
    
    {% if is_member %}
        <h2>New Topic</h2>
        
        <form class="uniForm" method="POST" action="">
            <fieldset class="inlineLabels">
                {{ topic_form|as_uni_form }}
                <div class="form_block">
                    <input type="hidden" name="action" value="update_status" />
                    <input type="submit" value="{% trans "Create New Topic" %}" />
                </div>
            </fieldset>
        </form>
    {% endif %}
    
{% endblock %}