body {
    background-color: #FFF;
    margin: 0;
    position: relative;
}
html, body {
    height: 100%;
}
body {
    color: #333;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 10pt;
}
a, a:visited {
    color: #13C;
}
img {
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    font-size: inherit;
}
td {
    margin: 0;
    border: 0;
    padding: 0;
}
div {
    position: relative;
}
#body {
    clear: both;
    margin: 0 auto;
    padding: 10px;
    width: 800px;
}
#footer {
    color: #999; /* footer text colour */
    margin: 50px auto;
    padding: 10px;
    clear: both;
    width: 800px;
}
#footer a, #footer a:visited {
    color: #444; /* footer link colour */
}
#footer a:hover {
    color: #777; /* footer link hover colour */
}
#site_wide_announcements {
    background: yellow;
    padding: 10px;
    text-align: center;
}
#site_wide_announcements ul {
    padding: 0;
    margin: 0;
}
h1 {
    margin: 0;
}
#tabhead {
    background: #035 url('/site_media/heading.png') left top repeat-x;
    border-bottom: 1px solid #000; /* tab border */
}
#tabhead .logo {
    height: 80px;
    padding-left: 5px;
    padding-top: 0;
}
#tabhead .logo img {
    width: 190px;
    height: 79px;
}
#tabhead .login {
    position: absolute;
    top: 6px;
    right: 15px;
    color: #DEF; /* login bar text colour */
}
#tabhead .login a, #tabhead .login a:visited {
    color: #DEF; /* login bar link colour */
}
#tabhead .login a:hover {
    color: #FFF; /* login bar link hover colour */
}
#tabhead .tabs {
    position: absolute;
    bottom: -1px; /* must be same thickness as tab border */
    left: 210px; /* based on width and padding of logo */
}
#tabhead .tabs td {
    vertical-align: bottom;
    padding-right: 10px;
    padding-bottom: 1px; /* must be same thickness as tab border */
}
#tabhead .tab a, #tabhead .tab a:visited {
    color: #444; /* unselected tab text colour */
    font-weight: bold;
    text-decoration: none;
}
#tabhead .tab a:hover {
    color: #666; /* unselected tab text hover colour */
}
#tabhead .tab div {
    background-color: #DDD; /* unselected tab colour */
    padding: 0;
    padding-bottom: 4px;
    padding-top: 5px;
    margin: 0 1px; /* to compensate for border */
}
#tabhead .tab div a {
    padding: 5px 12px;
}
#tabhead .right_tab {
    position: absolute;
    right: 15px;
    bottom: -1px; /* must be same thickness as tab border */
}
#tabhead .right_tab td {
    vertical-align: bottom;
    padding-right: 10px;
    padding-bottom: 1px; /* must be same thickness as tab border */
}

/* selected tabs */
#home_tab .tab_home,
#empty_tab .tab_empty,
#profile_tab .rtab_profile,
#tribes_tab .rtab_tribes,
#tweets_tab .rtab_tweets,
#wiki_tab .rtab_wiki,
#inbox_tab .rtab_inbox
{
    bottom: -1px !important;
    padding-bottom: 0 !important;
}
#home_tab .tab_home a,
#empty_tab .tab_empty a,
#profile_tab .rtab_profile a,
#tribes_tab .rtab_tribes a,
#tweets_tab .rtab_tweets a,
#wiki_tab .rtab_wiki a,
#inbox_tab .rtab_inbox a
{
    color: #000 !important; /* selected tab text colour */
}
#home_tab .tab_home div,
#empty_tab .tab_empty div,
#profile_tab .rtab_profile div,
#tribes_tab .rtab_tribes div,
#tweets_tab .rtab_tweets div,
#wiki_tab .rtab_wiki div,
#inbox_tab .rtab_inbox div
{
    margin: 0;
    background-color: #DEF !important; /* selected tab colour */
    border-left: 1px solid #000 !important; /* tab border */
    border-top: 1px solid #000 !important; /* tab border */
    border-right: 1px solid #000 !important; /* tab border */
    padding-bottom: 5px; /* 1px more than unselected padding-bottom */
}

form th {
    text-align : left;
}
form.signup input[type="submit"], form.login input[type="submit"] {
    margin: 20px 0;
    font-size: 14pt;
}
input[type="text"], input[type="password"], textarea {
    padding: 3px;
    margin: 3px;
    border: solid 1px #C6C6C6;
    border-bottom: solid 1px #E3E3E3;
    color: #666;
    font-size: 12pt;
    background: #F3F3F3 url('/site_media/form-shadow.png') left top repeat-x;
}
/*
input[type="submit"] {
    background-color: #FFF0F5;
    border: 1px solid #FF0000;
    cursor: pointer;
    color: #FF0000;
    text-decoration: underline;
}
*/
ul.errorlist {
    margin: 0;
    padding: 0;
    list-style: none;
    color: red;
}
ul#messages {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
}
ul#messages li {
    padding: 5px 10px;
    background: #EFD;
    margin: 3px;
    border: 1px solid #BC9;
}
ul#messages li a {
    float: right;
    color: #693;
}
.verified {
    color: green;
}
.remove {
    color: red;
}
.unverified {
    color: gray;
}
.primary {
    font-weight: bold;
}
table.email_list td {
    padding: 5px 10px;
}
table.invitation_list {
    width: 400px;
}
table.invitation_list td {
    padding: 5px 10px;
}
.friendship_request {
    padding: 5px;
    background: #DEF;
    border: 1px solid #9BC;
}
.friendship_request p {
    padding: 0;
    margin: 0;
}
.friendship_request form {
    padding: 0;
    margin: 0;
}
.friendship_request p.invitation_message {
    font-size: 12pt;
    margin: 5px;
}
.warning {
    color: red;
    font-weight: bold;
}

div.notice {
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #CCC;
}
div.unseen_notice {
    margin: 0;
    padding: 5px;
    background: #DFC;
    border-bottom: 1px solid #CCC;
}
h2.notice_date,
h2.join_date,
h2.creation_date
{
    font-size: 12pt;
    color: #666;
    border-bottom: 1px solid #999;
}
span.notice_type {
    color: #666;
}
span.notice_message {
}
span.notice_time {
    color: #999;
    font-size: 90%;
}
table.notice_settings td {
    line-height: 90%;
    padding: 5px 10px;
    
}
span.notice_type_description {
    color: #666;
    font-size: 80%;
    font-style: italic;
}

div.profile_info p {
    margin: 0;
}
.invitation_Accepted {
    color: green;
    font-weight: bold;
}
.invitation_Sent {
    color: gray;
}
table.messages {
    width: 100%;
}

table.messages tbody tr {
    border-bottom: 1px solid #ccc;
}

table.messages tr th, table.messages tr td {
    text-align: left;
    padding: 5px;
}

table.messages tr th {
    font-weight:bold;
    border-bottom: 1px solid #999;
}

#subnav {
    margin: 0;
    padding: 0;
    background: #DEF; /* tab colour */
    border-bottom: 1px solid #9BC;
}

#subnav ul {
    float: right;
    margin: 0 20px;
    padding: 0;
}

#subnav ul li {
    display: inline;
    list-style-type: none;
}

#subnav ul a:link, #subnav ul a:visited {
    float: left;
    font-weight: bold;
    text-decoration: none;
    color: #444;
    padding: 4px 20px;
}

#subnav ul a:hover {
    color: #FFF;
    background: #9BC;
}

dl.message-headers {
    border-top:1px solid #CCC;
    border-bottom:1px solid #CCC;
    padding: 5px 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

dl.message-headers dt {
    width: 70px;
    text-align: right;
    float: left;
    padding-right: 10px;
    font-weight: bold;
    color: #444;
}
dl.message-header dd {
    float: left;
}
div.right_panel {
    margin-top: 20px;
    width: 200px;
    float: right;
}
div.friends {
    background: #DEF;
    padding: 8px;
    margin-bottom: 20px;
}
div.friends h2 {
    margin: 0 0 5px 0;
    padding: 0;
}
div.friends .avatar {
    padding: 0;
    text-align: center;
}
div.friends .details {
    text-align: center;
    margin: 0 0 12px 0;
}
div.tribes {
    background: #DEF;
    padding: 8px;
    margin-bottom: 20px;
}
div.tribes h2 {
    margin: 0 0 5px 0;
    padding: 0;
}
div.members {
    background: #DEF;
    padding: 8px;
    margin-bottom: 20px;
}
div.members h2 {
    margin: 0 0 5px 0;
    padding: 0;
}
div.members .avatar {
    padding: 0;
    text-align: center;
}
div.members .details {
    text-align: center;
    margin: 0 0 12px 0;
}
div.notice_settings {
    background: #DEF;
    padding: 8px;
    margin: 20px 0;
}
div.notice_settings h2 {
    margin: 0 0 5px 0;
    padding: 0;
}
div.tweet {
    width: 500px;
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #CCC;
    font-size: 12pt;
}
div.tweet .timesince {
    color: #999;
    font-size: 80%;
}
span#chars_left {
    font-size: 16pt;
}
div.tweet .reply {
    font-size: 80%;
}

#locale_switcher {
    display:inline;
}

.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_results li img {
    float: left;
    margin: 5px;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}

/* topics */
table.topic, table.topics, table.responses {
    width: 100%;
}
table.topic td, table.topics td, .responses td {
    vertical-align: top;
    padding: 5px 20px 5px 5px;
}
table.topic td h1, table.topics td h2 {
    margin: 0;
    padding: 0;
}
.responses .even, .topics .even {
    background-color: #FAFAFA;
}
.responses .odd, .topics .odd {
    background-color: #F3F3F3;
}
td.meta {
    width: 100px;
}

/* pagination */
.pagination {
    margin: 10px 0;
}
.pagination .disabled {
    padding: 3px;
    color: #999;
    border: 1px solid #CCC;
}
.pagination .current {
    padding: 3px;
    color: #FFF;
    border: 1px solid #9BC;
    background: #9BC;
}
.pagination a {
    padding: 3px;
    text-decoration: none;
    border: 1px solid #9BC;
    color: #444;
    background: #DEF;
}
