{% extends "wakawaka/base.html" %}

{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    {# Add support for the Universal Edit Button #}
    {% if perms.wakawaka.change_wikipage %}
    <link rel="edit" title="{% trans "Edit this page" %}" href="{% url wakawaka_edit slug=page.slug %}" />
    {% endif %}
{% endblock %}

{% block head_title %}
    {% blocktrans with page.slug as slug %}History for {{ slug }}{% endblocktrans %}
{% endblock %}

{% block body %}
    <h1>{% blocktrans with page.slug as slug %}History for {{ slug }}{% endblocktrans %}</h1>
    
    {% include "wakawaka/revision_table.html" %}
{% endblock %}