{% extends "account/base.html" %}

{% load i18n %}
{% load avatar_tags %}

{% block head_title %}{% trans "Avatar" %}{% endblock %}

{% block body %}
    <h1>{% trans "Avatar" %}</h1>
    <h3>{% trans "Here is your current avatar:" %}</h3>
	{% avatar user 80 %}
	{% if not avatars %}
        <h3>You do not yet have an avatar for this site.  Please upload one by using the form below.</h3>
    {% else %}
        <h3>Select a different avatar:</h3>
        <form method="POST" action="">
            <ul class="avatar_choices">
                {{ primary_avatar_form.choice }}
            </ul>
            <input type="submit" value="Choose new Default" />
        </form>
        <p>Don&rsquo;t like these avatars? You can <a href="{% url avatar_delete %}">choose which ones to delete</a>.</p>
    {% endif %}
    <h3>Upload an Avatar:</h3>
    <form enctype="multipart/form-data" method="POST" action="">
        <input type="file" name="avatar" value="Avatar Image" />
        <input type="submit" value="Upload New Image" />
    </form>
{% endblock %}

{% block extra_body %}
    {% load jquery_validation %}
    {% include_validation %}
    <script type="text/javascript">
       <!-- nothing here -->
    </script>
{% endblock %}