{% extends "base.html" %}

{% load i18n %}
{% load openid_tags %}
{% block login %}
    {% if user.is_authenticated %}
        {% openid_icon openid user %}<b>{{ user }}</b> | <a href="{% url acct_email %}">{% trans "Account" %}</a> | {% if user.is_staff %}<a href="/admin/">{% trans "Admin" %}</a> | {% endif %}<a href="{% url openid_logout %}?next={% url acct_logout %}">{% trans "Logout" %}</a>
    {% else %}
        <a href="{% url acct_login %}">{% trans "Login" %}</a> {% trans "or" %} <a href="{% url acct_signup %}"><b>{% trans "Sign up" %}</b></a>
    {% endif %}
{% endblock %}

{% block logo_link_image %}<a href="{% url home %}"><img src="{{ MEDIA_URL }}logo.png" alt="Pinax"/></a>{% endblock %}

{% block tabs %}
{% comment %}
    <table>
        <tr>
            <td class="tab tab_home"><div><a href="{% url home %}">{% trans "Home" %}</a></div></td>
        </tr>
    </table>
{% endcomment %}
{% endblock %}

{% block right_tab %}
    {% if user.is_authenticated %}
        <table>
            <tr>
                <td class="tab rtab_profile"><div><a href="{% url profile_detail user %}">{% trans "Profile" %}</a></div></td>
                <td class="tab rtab_notices"><div><a href="{% url notification.views.notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></div></td>
            </tr>
        </table>
    {% endif %}
{% endblock %}

{% block footer %}
<div class="legal">
    {% trans "&copy; 2008 &lt;your company here&gt;" %}
    - <a href="{% url about %}">{% trans "About" %}</a>
    - <a href="{% url terms %}">{% trans "Terms of Service" %}</a>
    - <a href="{% url privacy %}">{% trans "Privacy Policy" %}</a>
    - <a href="{% url dmca %}">{% trans "DMCA Notice" %}</a>
</div>
{% endblock %}
