{% extends "site_base.html" %}

{% block head_title %}Pinax : About{% endblock %}

{% block body %}
<p>Your <b>About Page</b> would normally go here...</p>

<p><b>Pinax</b> is a <a href="http://djangoproject.com/">Django</a> project intended to provide a starting point for websites. By integrating numerous reusable Django apps to take care of the things that many sites have in common, it lets you focus on what makes your site different.</p>

<p>This site is just a running example of Pinax. The source code is available as part of the <a href="http://code.google.com/p/django-hotclub/">Hot Club of France</a> project.</p>

<p>If you have any questions about this site or the <b>Pinax</b> project, please <a href="mailto:jtauber@jtauber.com">contact James Tauber</a>.</p>

<h2>External Projects Used</h2>

<ul>
    <li><a href="http://code.google.com/p/django-email-confirmation/">django-email-confirmation</a></li>
    <li><a href="http://code.google.com/p/django-command-extensions/">django-command-extensions</a></li>
</ul>

with lots more to come.

{% endblock %}
