{% load dialogos_tags %}

<div class="post_comments" id="leave_comment_{{ post.id }}">
    {% comments post as comments %}
    {% for comment in comments %}
        <div class="comment_box comment_content">
            {{ comment.comment|escape|urlize|safe }} &mdash; <span class="comment_ago">{{ comment.submit_date|timesince }} ago</span>
        </div>
        <div class="clearleft"></div>
    {% endfor %}
    {% comment_form post as comment_form %}
    <form method="POST" action="{% comment_target post %}">
        {% csrf_token %}
        <div class="comment_box">
            {{ comment_form.comment }}
        </div>
        <div class="comment_post">
            <input type="submit" value="post" />
        </div>
        <input type="hidden" name="next" value="{{ request.path }}" />
    </form>
    <div class="clearleft"></div>
</div>
