{% extends "biblion/blog_base.html" %}

{% block head_title %}Blog ({{ section_name|capfirst }}){% endblock %}

{% block blog_content %}
    <h2>{{ section_name|capfirst }}</h2>
    
    {% if posts %}
        {% for post in posts %}
            <div class="blog-post">
                {% include "biblion/_minipost.html" %}
                <div><a href="{{ post.get_absolute_url }}" class="more">read more &rarr;</a></div>
            </div>
        {% endfor %}
    {% else %}
        <p>No blog posts have been published in this section.</p>
    {% endif %}
{% endblock %}
