{% extends "biblion/blog_base.html" %}

{% load biblion_tags %}

{% block head_title %}{{ post.title }}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/syntax.css" />
{% endblock %}

{% block blog_content %}
    <p class="breadcrumbs">
        <a href="{% url blog %}">&laquo; back to blog</a>
    </p>
    
    <div class="blog-post-full">
        <h2>{{ post.title }}</h2>
        {% include "biblion/_dateline.html" %}
        <div class="teaser">{{ post.teaser_html|safe }}</div>
        <div class="content">{{ post.content_html|safe }}</div>
    </div>
    
    <div class="clearleft"></div>
    
    <h2>Comments</h2>
    {% include "biblion/_comments.html" %}
    
    <p class="breadcrumbs">
        <a href="{% url blog %}">&laquo; back to blog</a>
    </p>
{% endblock %}
