{% extends "biblion/blog_base.html" %}

{% load biblion_tags %}
{% load dialogos_tags %}

{% block head_title %}{{ post.title }}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/syntax.css" />
{% endblock %}

{% block blog_content %}
    <p class="breadcrumbs">
        <a href="{% url blog %}">&laquo; back to blog</a>
    </p>
    
    <div class="full-post">
        <h2 class="post-title">{{ post.title }}</h2>
        {% include "biblion/dateline.html" %}
        <hr />
        
        <div class="teaser">{{ post.teaser_html|safe }}</div>
        
        <div class="content">{{ post.content_html|safe }}</div>
    </div>
    
    <div class="clearleft"></div>
    <div class="post_comments" id="leave_comment_{{ post.id }}">
        {% comments post as comments %}
        {% for comment in comments %}
            <div class="comment_box comment_content">
                {{ comment.comment|escape|urlize|safe }} &mdash; <span class="comment_ago">{{ comment.submit_date|timesince }} ago</span>
            </div>
            <div class="clearleft"></div>
        {% endfor %}
        {% comment_form post as comment_form %}
        <form method="POST" action="{% comment_target post %}">
            {% csrf_token %}
            <div class="comment_box">
                {{ comment_form.comment }}
            </div>
            <div class="comment_post">
                <input type="submit" value="post" />
            </div>
            <input type="hidden" name="next" value="{{ request.path }}" />
        </form>
        <div class="clearleft"></div>
    </div>
    
    <p class="breadcrumbs">
        <a href="{% url blog %}">&laquo; back to blog</a>
    </p>
{% endblock %}
