{% extends "site_base.html" %}

{% block head_title %}Pinax : Profile for {{ other_user }}{% endblock %}

{% block rtab_id %}profile_tab{% endblock %}

{% block body %}
<h1>Profiles</h1>

{% load gravatar %}

<table class="friend_list"> {# @@@ should be a different class #}
{% for other_user in users %}
    <tr>
        <td>{% gravatar other_user 40 %}</td>
        <td><a href="{% url profiles.views.profile other_user.username %}">{{ other_user }}</a></td>
    </tr>
{% endfor %}
</table>

{% endblock %}
