{% extends "profiles/base.html" %}

{% load i18n %}
{% load gravatar %}

{% block head_title %}Pinax : {% blocktrans %}Profile for {{ other_user }}{% endblocktrans %}{% endblock %}

{% block body %}


{% if is_me %}
<div class="friends">
    <h2>{% trans "Your Friends" %}</h2>
    {% if other_friends %}
    <table width="100%">
        {% for friendship in other_friends %}
        {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
            <td>
                <div class="avatar">{% gravatar friendship.friend 40 %}</div>
                <div class="details"><a href="{% url profiles.views.profile friendship.friend.username %}">{{ friendship.friend }}</a></div>
            </td>
        {% if forloop.counter0|add:"1"|divisibleby:"3" %}</tr>{% endif %}
        {% endfor %}
        {% if other_friends|length|divisibleby:"3" %}{% else %}</tr>{% endif %}
    </table>
    {% else %}
    <p>{% blocktrans %}None. You should look at the list of <a href="/profiles/">profiles</a> and see if there's anyone you know.{% endblocktrans %}</p>
    {% endif %}
</div>
{% endif %}

{% if is_friend %}
<div class="friends">
<h2>{% blocktrans %}{{ other_user }}'s Friends{% endblocktrans %}</h2>
<table class="friend_list">
    {% for friendship in other_friends %}
    {% if forloop.counter|divisibleby:"2" %}{% else %}<tr>{% endif %}
        <td class="avatar">{% gravatar friendship.friend 40 %}</td>
        <td class="details"><a href="{% url profiles.views.profile friendship.friend.username %}">{{ friendship.friend }}</a></td>
    {% if forloop.counter|divisibleby:"2" %}</tr>{% else %}{% endif %}
    {% endfor %}
    {% if other_friends|length|divisibleby:"2" %}{% else %}</tr>{% endif %}
</table>
</div>
{% endif %}

{% gravatar other_user 80 %}

<h1>{% blocktrans %}Profile for {{ other_user }}{% endblocktrans %}</h1>

<div class="profile_info">
    {% if other_user.get_profile.name %}<p><b>{% trans "Name" %}</b>: {{ other_user.get_profile.name }}</p>{% endif %}
    {% if other_user.get_profile.about %}<p><b>{% trans "About" %}</b>: {{ other_user.get_profile.about }}</p>{% endif %}
    {% if other_user.get_profile.location%}<p><b>{% trans "Location" %}</b>: {{ other_user.get_profile.location }}</p>{% endif %}
    {% if other_user.get_profile.website %}<p><b>{% trans "Website" %}</b>: <a href="{{ other_user.get_profile.website }}">{{ other_user.get_profile.website }}</a></p>{% endif %}
</div>

<p><b>{% trans "Followers" %}</b>: {{ other_user.followers.count }}
<b>{% trans "Following" %}</b>: {{ other_user.followed.count }}</p>

{% if user.is_authenticated %}
{% if is_me %}
<p><a href="#" onclick="$('#profile_form').toggle(); return false;">{% trans "Edit profile" %}</a></p>

<form id="profile_form" method="POST" action="" style="display: none;">
<table>
{{ profile_form }}
<tr><td></td><td><input type="hidden" name="action" value="update" /><input type="submit" value="{% trans "update" %}"/></td></tr>
</table>
</form>

<h2>Tweets</h2>

{% if user.sent_tweets.all %}
{% for tweet in user.sent_tweets.all %}
<div class="tweet">
{{ tweet.html|safe }}
<span class="timesince">{{ tweet.sent|timesince }} ago</span>
<a class="reply" href="{% url zwitschern.views.personal %}?reply={{ tweet.sender }}">reply</a>
</div>
{% endfor %}
{% else %}
<p>You haven't posted any <a href="{% url zwitschern.views.personal %}">tweets</a> yet.</p>
{% endif %}

{% else %}

<div>
<form method="POST" action="">
{% if is_following %}
<input type="hidden" name="action" value="unfollow" /><input type="submit" value="{% trans "unfollow" %}"/>
{% else %}
<input type="hidden" name="action" value="follow" /><input type="submit" value="{% trans "follow" %}"/>
{% endif %}
</form>
</div>

    {% if is_friend %}
    <p>{% blocktrans %}You are friends with {{ other_user }}.{% endblocktrans %} <a href="{% url messages.views.compose %}{{ other_user }}/">{% trans "Send a message" %}</a>.</p>
    {% else %}
    <h2>{% trans "Add As Friend" %}</h2>
    {% if previous_invitations_from %}
    <p>{% blocktrans %}{{ other_user }} has already requested friendship.{% endblocktrans %}</p>
    {% for invitation in previous_invitations_from %}
    <div class="friendship_request">
        <p>{{ invitation.message }}</p>
        <form style="display: none;" id="invitation_{{ invitation.id }}" method="post" action="">
            <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
            <input type="hidden" name="action" value="accept"/>
        </form>
        <p><a href="#" onclick="$('#invitation_{{ invitation.id }}').submit()">{% trans "accept" %}</a></p>
    </div>
    {% endfor %}
    {% else %}
    {% if previous_invitations_to %}
    <p>{% trans "Friendship request sent." %}</p>
    {% else %}
    <form method="POST" action="">
        <table>
            {{ invite_form.as_table }}
            <tr><td></td><td><input type="hidden" name="action" value="invite" /><input type="submit" value="{% trans "invite" %}"/> {% blocktrans %}{{ other_user }} to be a friend.{%  endblocktrans %}</td></tr>
        </table>
    </form>
    {% endif %}
    {% endif %}
    {% endif %}
    
    <h2>Tweets</h2>
    
    {% for tweet in other_user.sent_tweets.all %}
    <div class="tweet">
    {{ tweet.html|safe }}
    <span class="timesince">{{ tweet.sent|timesince }} ago</span>
    <a class="reply" href="{% url zwitschern.views.personal %}?reply={{ tweet.sender }}">reply</a>
    </div>
    {% endfor %}
    
{% endif %}
{% else %}
<p>{% blocktrans %}<a href="/account/signup/">Sign up</a> and <a href="/account/login/">log in </a> to add this person as a friend.{% endblocktrans %}</p>
{% endif %}

{% endblock %}
