{% extends "profiles/base.html" %}

{% load i18n %}

{% block head_title %}Pinax : {% blocktrans %}All Profiles{% endblocktrans %}{% endblock %}

{% block body %}
<h1>{% trans "Profiles" %}</h1>

{% load gravatar %}
{% load humanize %}

{% regroup users by date_joined.date as users_by_date_joined %}

{% for date in users_by_date_joined %}
<h2 class="join_date">{{ date.grouper|naturalday:_("MONTH_DAY_FORMAT")|capfirst }}</h2>
{% for user in date.list %}
<div class="profile">
    <div style="float: left;">{% gravatar user 40 %}</div>
    <div style="padding: 5px; margin-left: 50px;"><a href="{% url profiles.views.profile user.username %}">{{ user }}</a></div>
    <div style="clear: both;"></div>
</div>
{% endfor %}
{% endfor %}

{% endblock %}
