{% extends "site_base.html" %}

{% block head_title %}Pinax : Profile for {{ other_user }}{% endblock %}

{% block rtab_id %}profile_tab{% endblock %}

{% block body %}
<h1>Profiles</h1>

{% load gravatar %}
{% load humanize %}

{% regroup users by date_joined.date as users_by_date_joined %}

{% for date in users_by_date_joined %}
<h2 class="join_date">{{ date.grouper|naturalday:"M d"|capfirst }}</h2>
{% for user in date.list %}
<div class="profile">
    <div style="float: left;">{% gravatar user 40 %}</div>
    <div style="padding: 5px; margin-left: 50px;"><a href="{% url profiles.views.profile user.username %}">{{ user }}</a></div>
    <div style="clear: both;"></div>
</div>
{% endfor %}
{% endfor %}

{% endblock %}
