html {
    height: 100%;
    font-size: 100.01%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    background-color: White;
}

a:link {
    color: #2272D6;
    font-weight: bold;
}

a:visited {
    color: #154581;
    font-weight: bold;
}

a:hover, a:active {
    color: #c00;
}

hr.clear {
    border: none;
    margin: 0;
    padding: 0;
    height: 0;
    visibility: none;
    clear: both;
}

div#website_title {
    width: 670px;
    margin: 0 auto;
    padding-top: 2em;
}

div#website_title h1 {
    color: White;
    text-shadow: 1px 1px 1px #666;
    padding: 0 0 0.2em 0;
    margin: 0;
    font-size: 2.2em;
    letter-spacing: -1px;
}

div#website_title h1 a {
    text-decoration: none;
    color: White;
}

#color-wrapper {
    background-color: #6298DB;
    background-image: url(../img/wp.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

#outline {
    background-image: url(../img/w70.png);
    padding: 10px;
    width: 650px;
    margin: 0 auto;
}

#content-outline {
    background-color: White;
    -webkit-box-shadow: 0 3px 4px #aaa;
}

#content {
    padding: 20px;
    margin: -50px 20px 0 20px;
    background-color: White;
    font-size: 0.9em;
    line-height: 1.5em;
    color: #555;
}

#content h1 {
    color: #01A0D3;
    margin: 0 0 0.5em 0;
    text-shadow: 0 1px 0 #ccc;
}

#content h1 {
    font-size: 2em;
}

#content h2 {
    font-size: 1.7em;
    font-weight: normal;
    color: #01A0D3;
    margin: 1em 0 0.5em 0;
}

#content h3 {
    font-size: 1.5em;
    font-weight: normal;
    color: #01A0D3;
    margin: 1em 0 0.5em 0;
}

#content p.image img {
    outline: 4px solid #D0E0F4;
    border: 1px inset #94A0AE;
}

#content p.image.left {
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
}

#content p.image.right {
    float: right;
    margin-left: 2em;
    margin-bottom: 1em;
}

#footer {
    margin: 0 auto;
    padding: 1px 0 80px 0;
    width:  650px;
    font-size: 0.7em;
    color: #666;
}

#footer p {
    margin: 1em 0 1em 0;
}


form.add-attachment {
    padding: 0.2em 1em;
    background-color: #eee;
    -webkit-box-shadow: 0 2px 3px #aaa;
}


/* MESSAGES */

ul#messages {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
}
ul#messages li {
    padding: 5px 10px;
    background: #EFD;
    margin: 3px;
    border: 1px solid #BC9;
}
ul#messages li a {
    float: right;
    color: #693;
}