/* SITE-SPECIFIC TAB STYLING */

/* Active tabs */
#home_tab a.tab_home,
#rooms_tab a.tab_rooms,
#prices_tab a.tab_prices,
#contact_tab a.tab_contact
{
    background-color: #205AA3;
    border-color: #153B6C;
    color: #C5DEFE;
}
