--find-links=http://pypi.pinaxproject.com

django-frontendadmin
django-attachments
django-generic-flatblocks
-e hg+http://bitbucket.org/zerok/django-contact-form-i18n/#egg=django-contact-form
-e svn+http://sorl-thumbnail.googlecode.com/svn/trunk/#egg=sorl-thumbnail