--find-links=http://pypi.pinaxproject.com

django-frontendadmin
django-attachments
django-generic-flatblocks
sorl==3.1
-e hg+http://bitbucket.org/zerok/django-contact-form-i18n/#egg=django-contact-form