{% extends "site_base.html" %}

{% load webdesign %}
{% load blog_tags %}

{% block body_id %}homepage{% endblock %}

{% block content %}
    
    {% latest_blog_posts as posts %}
    <div class="announcement"><b><a href="{% url blog %}">The ACME Blog</a></b>
        {% if posts %} &mdash; 
        <span id="posts">
            {% for post in posts %}
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            {% endfor %}
        </span>
        {% endif %}
    </div>
    
    <div class="grouping clear">
        <div class="primary">
            <h2>Primary Section Heading</h2>
            <p>{% lorem %}</p>
        </div>
        
        <div class="secondary">
            <h2>Secondary Section Heading</h2>
            <p>{% lorem %}</p>
        </div>
    </div>
    
    <div class="grouping clear">
        <div class="primary">
            <h2>Primary Section Heading</h2>
            <p>{% lorem %}</p>
        </div>
        
        <div class="secondary">
            <h2>Secondary Section Heading</h2>
            <p>{% lorem %}</p>
        </div>
    </div>
    
{% endblock %}

{% block extra_body %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.cycle.all.js"></script>
<script>
    $(function() {
        $("#posts").cycle({
            fx: "fade",
            pause: 1,
            timeout: 3000
        });
    });
</script>
{% endblock %}