--find-links=http://pypi.pinaxproject.com
--find-links=http://pypi2.pinaxproject.com

django-frontendadmin==0.4
django-attachments==0.3
django-generic-flatblocks==0.3.0
sorl==3.1
django-dbtemplates==0.5.8
template_utils==0.4p2
django-staticfiles==0.1.2
