/* SITE-SPECIFIC TAB STYLING */

body.profile #tab_blog a
{
    color: #000; /* selected tab text colour */
}
body.profile #tab_blog
{
    margin: 0; /* to compensate for border */
    padding: 5px 0 5px;
    background-color: #DEF; /* selected tab colour */
    border-left: 1px solid #000; /* tab border */
    border-top: 1px solid #000; /* tab border */
    border-right: 1px solid #000; /* tab border */
}
