{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block body %}
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
        <p><span class="warning">{% trans "Note" %}</span>: {% blocktrans %}you are already logged in as {{ user }}.{% endblocktrans %}</p>
    {% endif %}
    
    <p>{% blocktrans %}A new password has been sent to <b>{{ email }}</b>. If you do not receive it within a few minutes, contact us at <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.{% endblocktrans %}</p>
    
    {% url account.views.login as login_url %}
    <p>{% blocktrans %}When you receive the new password, you should <a href="{{ login_url }}">log in</a> and change it as soon as possible.{% endblocktrans %}</p>
{% endblock %}
