/* Buttons */

a.frontendadmin {
  font-size: 12px;
  font-weight: bold;
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding: 4px;
  padding-left: 20px;
}

a.frontendadmin.frontendadmin_edit {
  background-image: url(../../pinax/images/silk/icons/page_white_edit.png);
}

a.frontendadmin.frontendadmin_add {
  background-image: url(../../pinax/images/silk/icons/add.png);
}

a.frontendadmin.frontendadmin_delete {
  background-image: url(../../pinax/images/silk/icons/delete.png);
}

p.image a.frontendadmin{
    position: absolute;
}

/* Edit form */

fieldset.frontendadmin {
  margin: 0;
  padding: 10px 10px;
  border: 1px dotted #6498cc;
  font-size: 12px;
  background-color: white;
}

fieldset.frontendadmin legend {
  font-weight: bold;
  font-size: 1.2em;
  color: #333333;
  background-color: white;
  padding: 0.3em 1em;
}

fieldset.frontendadmin img.preview {
  float: left;
  margin-right: 0.4em;
  border: 0.1em solid #4a6379;
}

fieldset.frontendadmin p {
  background-color: #e7eff6;
  margin: 0.8em 0;
  padding: 5px 10px;
  clear: both;
}

fieldset.frontendadmin p label {
  font-size: 0.9em;
  font-weight: bold;
  color: #333333;
  display: block;
  margin-bottom: 3px;
}

fieldset.frontendadmin p input[type=text],
fieldset.frontendadmin p input[type=password],
fieldset.frontendadmin p textarea
{
  width: 99%;
}

fieldset.frontendadmin p textarea {
  height: 25em;
}

fieldset.frontendadmin p span.help {
  font-size: 0.9em;
  display: block;
}

fieldset.frontendadmin ul.errorlist {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset.frontendadmin ul.errorlist li {
  margin: 5px 0 2px 0;
  padding: 5px 10px;
  color: White;
  background-color: #f74a4a;
}

fieldset.frontendadmin span.help,
fieldset.frontendadmin span.preview
{
  display: block;
  font-size: 0.95em;
  line-height: 1.2em;
  margin-top: 3px;
}
